<div class="modal fade" id="popupdeLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog tamanhoPopupWidth">
      <div class="modal-content tamanhoPopupHeight">
        <div class="modal-body">
          <div class="row">
            <div class="d-none d-md-flex col-md-6 pl-0">
                <div style="z-index: 1200;">
                    <img src="../../assets/img/login2traco.png" class="position-absolute" style="margin-top: -39px;" alt="Pedaço de tecido cortado com marcas de linhas de costura">
                    <div class="position-relative" style="margin: 0 100px 0 0;padding: 45px;">
                        <a class="navbar-brand my-5" routerLink="/home"><img src="./assets/img/logo.svg" alt=""></a>
                        <div class="text-left text-light">
                            <p class="font-thin" style="font-weight: 100;">Entre ou cadastre-se agora para
                                ter acesso aos melhores serviços 
                                de costura do Brasil</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 p-3">
                <div class="d-flex justify-content-center align-items-center">
                    <hr style="width: 20%;"><h1 class="font-inherit" style="font-weight: 100;">Login</h1><hr style="width: 20%;">
                </div>
                <div class="mt-5">
                      <div class="form-group d-flex justify-content-center">
                          <input type="email" class="form-control input-estilo" name="email" id="email" minlength="10" required>
                          <span class="linhaSpan"></span>
                          <label for="Email" class="col-form-label">Email</label>
                      </div>
                      <div class="form-group d-flex justify-content-center">
                          <input type="password" class="form-control input-estilo" name="senha" id="Password1" minlength="5" required>
                          <span class="linhaSpan"></span>
                          <label for="senha" class="col-form-label">Senha</label>
                      </div>
                      <div class="form-group d-flex justify-content-center" style="margin-bottom: 6px;">
                          <button class="btn w-50 text-light" type="submit" style="background-color: #71F6A6; border-radius: 1px;">Entrar</button>
                      </div>
                      <li class="text-center mb-3" style="list-style: none; font-size: 13px;">
                        <a href="#" >Cadastre-se</a>
                      </li>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="height: 37px;">
                    <hr style="width: 29%; margin: 10px;"><p class="font-roboto mb-0 mx-3" style="font-weight: 100;">ou</p><hr style="width: 29%; margin: 10px;">
                </div>
                <ul class="p-0">
                    <li class="d-flex justify-content-center align-items-center">
                        <a href="#" class="mr-5 text-dark" style="text-decoration: none">Facebook</a>
                        <a href="#" class="ml-4 text-dark"  style="text-decoration: none">Google</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>