<body >
    <nav id="nav_bar">
        <div id="logo_nav"></div>
        <div id="nav_links">
            <a href="">PRODUTOS &#8227;</a>
            <a href="">QUEM SOMOS &#8227;</a>
            <a href="">CONTATO &#8227;</a>
        </div>
        <div id="nav_botoes">
            <button id="botao_cadastro">CADASTRO</button>
            <button id="botao_login">LOGIN</button>
        </div>
    </nav>
    <header id="header_principal">
        <section id="section1">
            <div id="titulo_header">Estili<span>.se</span></div>
            <div id="texto_header">COMPRE E ENCOMENDE ROUPAS COM OS MELHORES <span> <strong> COSTUREIROS E ALFAIATES</strong></span> <br>PELO BRASIL.
                <br>
                <div id="botao_header">
                    <button>VER PRODUTOS</button>
                </div>
            </div>
            <br><br>
            
        </section>
        <section id="section2">
            
        </section>
    </header>
    <main>
        <br><br>
        <h1>Uma Nova forma de Vestir</h1>
        <br><br>
        
        <div class="container">    
            <div class="card-deck">     
                <div class="col-3">
                    <div class="card1">    
                        <img id='vestido'src="assets/img/vestido.png" class="card-img-top" alt="vestido">
                        <div class="card-body">
                            <h5 class="card-title">PERSONALIZAÇÃO</h5>
                            <p class="card-text">No ESTILI.SE Você tem a Oportunidade de Deixar as Roupas com sua Cara.</p>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <br>
                <div class="col-3">
                    <div class="card2">
                        <img id='Maquina'src="assets/img/maquina.png" class="card-img-top" alt="Maquina">
                        <div class="card-body">
                            <h5 class="card-title">MELHORES PROFISSIONAIS</h5>
                            <p class="card-text">Encontre os Melhores Profissionais do Mundo da Costura na Nossa Plataforma.</p>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <br>
                <div class="col-3">
                    <div class="card3">
                        <img id='moto'src="assets/img/moto.png" class="card-img-top" alt="Moto">
                        <div class="card-body">
                            <h5 class="card-title">ENTREGA EM CASA</h5>
                            <p class="card-text">Receba suas Compras E Encomendas no Conforto da sua Casa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <footer>
    </footer>
    
    
    <script src="./assets/js/home.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>