<body>
    <header class="container-fluid row justify-content-around" id="header">
     
        <div class="col-lg-5 col-11 d-flex flex-column justify-content-center align-items-start pl-5" id="header_esquerdo ">
            <div class="img-header mb-5">
                <img src="../../assets/img/logo.png" alt="">
            </div>
            <p class="header-texto text-white">COMPRE E ENCOMENDE ROUPAS COM OS MELHORES <span>COSTUREIROS  E ALFAIATES</span> PELO BRASIL.</p>
            <a href="" class="btn btn-estilise p-3 mt-1">VER PRODUTOS</a>
        </div>
        <div class="col-lg-5 col-11 d-none d-lg-flex justify-content-center align-items-end">
            <div class="arara-header mt-auto">
                <img src="../../assets/img/arara.png" alt="" class="mt-auto">
            </div>
        </div>
    </header>
    <main class="d-flex justify-content-center row pb-5">
        <h1 class="p-5 display-4">Uma Nova forma de Vestir</h1>
        <div class="row d-flex justify-content-center container-fluid" style="height: 100%;">
            <div class=" d-flex flex-column flex-md-row align-items-center justify-content-md-around justify-content-center w-100" style="height: 100%;">  
                <div class="card-beneficio col-12 col-md-3 d-flex flex-column align-items-center justify-content-center mx-5 mb-5 m-md-0">    
                    <img src="assets/img/vestido.png" class="card-img-top img-beneficio" alt="vestido">
                    <h5 class="card-title my-3">PERSONALIZAÇÃO</h5>
                    <p class="card-text px-5">NO ESTILI.SE VOCÊ TEM A OPORTUNIDADE DE DEIXAR AS ROUPAS COM SUA CARA</p>
                </div>
                
                
                <div class="card-beneficio col-12 col-md-3 d-flex flex-column align-items-center justify-content-center mx-5 m-md-0">
                    <img src="assets/img/maquina.png" class="card-img-top img-beneficio" alt="Maquina">
                    <h5 class="card-title my-3">MELHORES PROFISSIONAIS</h5>
                    <p class="card-text px-5">ENCONTRE OS MELHORES PROFISSIONAIS DO MUNDO DA COSTURA NA NOSSA PLATAFORMA</p>
                </div>
                
                <div class="card-beneficio col-12 col-md-3 d-flex flex-column align-items-center justify-content-center mx-5 mt-5 m-md-0">
                    <img src="assets/img/moto.png" class="card-img-top img-beneficio" alt="Moto">
                    <h5 class="card-title my-3">ENTREGA EM CASA</h5>
                    <p class="card-text px-5">RECEBA SUAS COMPRAS E ENCOMENDAS NO CONFORTO DA SUA CASA</p>
                </div>
            </div>
        </div>
    </main>    
    <article class="container-fluid row justify-content-around align-items-center py-5">
        <div class="col-10 col-md-5 mb-5 mb-md-0 ml-md-5 d-flex align-items-center justify-content-center h-100">
            <div id="article-img">
                <img src="../../assets/img/fotos_costureiros.png" alt="">
            </div>
        </div>
        <div class="col-10 col-md-5 d-flex flex-column align-items-md-end align-items-center justify-content-center mr-md-5">
            <h1 class="text-md-right text-center mb-3" style="color: #147C4C; width: 100%;">ENCONTRE OS MELHORES PROFISSIONAIS</h1>
            <span style="width: 300px; height: 1px; background-color: #147C4C;"></span>
            <p class="text-md-right text-center mt-3" style="width: 60%; color:white; font-size: 20px;">Nós contamos com um catálogo de centenas de profissionais qualificados que estão esperando por você</p>
            <a href="" class="btn btn-verde p-3 mt-3 d-flex justify-content-center justify-content-md-right" style="width: 150px;">PROFISSIONAIS</a>
        </div>
    </article>
    <blockquote class="d-flex flex-column justify-content-center align-items-center py-5">
        <p class="display-4 p-5 text-center">"A moda é incessantemente fascinante porque ela é uma 
            expressão de você mesmo"</p>
            <small class="mb-5">-Anna Wintour</small>
        </blockquote>
        <section id="categorias" class="container-fluid row justify-content-around">
            <div id="categorias-texto" class="col-10 col-lg-5 d-flex flex-column align-items-lg-start align-items-center justify-content-center">
                <h1 class="text-lg-left text-center mb-3" style="color: #1B2F48; width: 80%;">EXPLORE DEZENAS DE CATEGORIAS</h1>
                <span style="width: 300px; height: 1px; background-color: #1B2F48;"></span>
                <p class="text-lg-left text-center mt-3" style="width: 60%; color:white; font-size: 20px;">No estili.se você tem a oportunidade de encontrar dezenas de categorias e achar as roupas que mais combinam com você</p>
                <a href="" class="btn btn-roxo p-3 mt-3 d-flex justify-content-center" style="width: 30%;">CATEGORIAS</a>
            </div>
            <div id="categorias-img" class="col-10 col-lg-5 d-none d-lg-flex align-items-end justify-content-center ">
                <img src="../../assets/img/arara_azul.png" alt="">
            </div>
        </section>
    </body>