<div class="container-fluid">
    <div style="height: 90px;">
    </div>
    <div class="bg-white bg-light">
        <div class="container py-5">
            <h1 class="display-3">Sobre nós</h1>
            <p class="lead text-muted mb-0">
            <p>A Estili.Se nasce da união de duas necessidades, o acesso à peças de vestuário únicos e a ligação entre
                profissionais da arte da costura com os clientes interessados em peças de alta qualidade que não podem
                ser
                encontrados em nenhum outro lugar.
            </div>
    </div>


<div class="container py-5 bg-white">

        <div>
            <hr>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 order-3 order-lg-1">
                <h2 class="display-4">Missão</h2>
                <p class="lead text-muted mb-0">A Estili.Se serve de elo entre o profissional e o cliente como uma
                    plataforma eficiente para possibilitar o desenvolvimento e ascensão de estilistas amadores
                    promovendo a
                    criatividade e ao mesmo tempo em que atinge a satisfação.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><video width="480" height="240"controls>
                <source src="./../../assets/img/ESTILI.SE.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              </video> ></div>
        </div>

        <div>
            <hr>
        </div>



        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 class="display-4">Visão</h2>
                <p class="lead text-muted mb-0">Ser empresa de referência, reconhecida como a melhor opção por clientes,
                    colaboradores, pela qualidade de nossos serviços.</p>
                <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../assets/img/foto_header.jpg" alt=""
                    class="img-fluid  mb-lg-0"></div>
        </div>

        <div>
            <hr>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="../../assets/img/valores-missao.png" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">Valores</h2>
                <p class="lead text-muted mb-0">
                    • Agilidade<br />
                    • Inovação<br />
                    • Otimismo<br />
                    • Colaboração<br />
                    • Integridade<br />
                    • Personalização<br />
                    • Qualidade<br />
                    <!-- </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-4 bg-light">
    <div class="row mb-12 ml-6">
        <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Nosso time</h2>
            <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        <!-- </div>
    </div>

</div>
    <div class="row text-center justify-content-center p-2">
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="../../assets/img/jonatas.jpg" alt="" width="90"
                    class="img-fluid rounded-circle mb-7 img-thumbnail shadow-sm">
                <h5 class="mb-0">Jonatas Damasceno Alves</h5><span 
                        class="small text-uppercase text-muted">Desenvolvedor Web Java Jr</span>

                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-github"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>   

     <div class="row text-center justify-content-center p-2">
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="../../assets/img/otavio.jpg" alt=""width="90" 
                   class="img-fluid rounded-circle mb-7 img-thumbnail shadow-sm">
                <h5 class="mb-0">Otavio Mendes</h5><span 
                        class="small text-uppercase text-muted">Desenvolvedor Web Java Jr</span>

                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-github"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>                           
                
    <div class="row text-center justify-content-center p-2">
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img
                    src="../../assets/img/pp.jpg" alt="" width="90"
                class="img-fluid rounded-circle mb-7 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vitoria Nogueira</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Web Java Jr</span>
        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                class="social-link"><i
                                    class="fab fa-github"></i></a>
                        </li>
                            <li class="list-inline-item"><a href="#"
                                    class="social-link"><i
                                        class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>   

    <div class="row text-center justify-content-center p-4">
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img
                   src="../../assets/img/Gabriel.jpg" alt="" width="90"
                class="img-fluid rounded-circle mb-7 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Gabriel Rodrigues</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Web Java Jr</span>
    <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#"
                class="social-link"><i
                    class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"
            class="social-link"><i
                class="fab fa-twitter"></i></a>
    </li>
        <li class="list-inline-item"><a href="#"
            class="social-link"><i
                class="fab fa-github"></i></a>
    </li>
        <li class="list-inline-item"><a href="#"
                class="social-link"><i
                    class="fab fa-linkedin"></i></a>
    </li>
</ul>                    

    <div class="row text-center justify-content-center p-4">
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="../../assets/img/guilherme.jpg" alt=""width="90"
                class="img-fluid rounded-circle mb-7 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Guilherme Martins Alves</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Web Java Jr</span>

    <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#"
                class="social-link"><i
                    class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"
            class="social-link"><i
                class="fab fa-twitter"></i></a>
    </li>
        <li class="list-inline-item"><a href="#"
            class="social-link"><i
                class="fab fa-github"></i></a>
    </li>
        <li class="list-inline-item"><a href="#"
                class="social-link"><i
                    class="fab fa-linkedin"></i></a>
    </li>
</ul> -->

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class='img-fluid rounded'src="../../assets/img/jonatas.jpg" alt="Jonatas" style="width:150px;height:150px;">
      </div>
      <div class="flip-card-back">
        <h4>Jonatas D. Alves</h4> 
        <p>Desenvolvedor Web Java Jr 
            FullStack</p>
            
      </div>
    </div>
  </div>

