#tituloHeader{
  max-width: 500px;
}
@media(max-width: 992px){
  #texto{
    font-size: 15px;
  }
}
#tituloHeader::after{
  content:'|' ;
  margin-left: 5px;
  opacity: 1;
   animation: pisca 10s infinite;
}
@keyframes pisca{
  0%, 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
#texto::after{
  content:'|' ;
  margin-left: 5px;
  opacity: 1;
   animation: pisca 10s infinite;
}
p{
  text-align: center;
  font-family: 'roboto', sans-serif;
  color:#158591;
}
h2 {
  color:#158591;
}
#cardSobre{
  background-size: 100%;
  background: rgb(244,253,252);
background: linear-gradient(90deg, rgba(244,253,252,1) 0%, rgba(248,255,254,1) 50%, rgba(248,255,254,1) 100%);
  height: 80%;
  width: 80%;
  box-shadow: 5px 5px 18px rgba(48, 46, 46, 0.288) ;
}
#caixa{
  background-color: none;
  width: 95%;
  height: 80%;
  border: dashed  #118899;
}

header{
  min-height: 90vh;
  width: 100%;
}

.textoSobre > p {
font-size: 20px;
max-width: 70%;
text-align: center;

}
h5{
  color:#158591;
  font-size: 30px;
}
  li {  
    list-style: none;
    margin: 10px,30px;
    display: inline-block;
    font-size: 40px;
    /* padding: 29px; */
  }
  .social{
    max-width: 30%;

  }
  ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    /* padding: 50px; */
  }

.faGithub:hover{
   
  color: black;
}

.faLinkedin:hover{
  
  color: #0072b1;

}