<!-- __________________________________INICIO__________________________________________________ -->
<div class="container-fluid row justify-content-around">
    <header class="d-flex align-items-center justify-content-center">
        <div class="text-white container-fluid row justify-content-center align-items-center" id="cardSobre">
            <div class="d-flex flex-column align-items-center justify-content-around" id="caixa">
                <h1 class="font-cookie display-4 verde-logo text-center" id="tituloHeader">Quem Somos</h1>
                <img src="../../assets/img/quemsomos/fio.png" style="height: 15px; width: 110px;">
                <div class="d-flex w-100 justify-content-around textoSobre">
                    <p id="texto">A Estili.Se nasce da união de duas necessidades, o acesso à peças de vestuário
                        únicos e a ligação entre
                        profissionais da arte da costura com os clientes interessados em peças de alta qualidade que não
                        podem ser encontrados em nenhum outro lugar.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="col-md-5 col-10 my-5 d-flex justify-content-center">
            <video width="490" height="280" controls>
                <source src="../../assets/img/quemsomos/ESTILI.SE.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    </video>
                </div> -->
    <!-- Missáo -->
    <div class="mb-md-3 container my-md-5">
        <div class="row no-gutters">
            <div class="col-md-8 pb-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-left text-center">Missão</h3>
                    <p class="text-md-left text-center">A Estili.Se serve de elo entre o profissional e o
                        cliente como uma plataforma eficiente para possibilitar o desenvolvimento e ascensão de estilistas amadores
                        promovendo a criatividade e ao mesmo tempo em que atinge a satisfação.</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="../../assets/img/quemsomos/Missão.jpg" class="card-img" alt="Missão">
            </div>
        </div>
    </div>

    <!-- visao -->
    <div class="mb-3 container my-5" id="foto3">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="../../assets/img/quemsomos/Visão.png" class="card-img" alt="Visão"></div>

            <div class="col-md-8 ">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-right ml-md-auto text-center">Visão</h3>
                    <p class="text-md-right text-center">Fazer que as pessoas economizem dinheiro ao aproveitar as
                        promoções mais próximas e assim aquecer a economia local e aumentar o poder aquisitivo da comunidade como um
                        todo.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Valores -->
    <div class="mb-md-3 container my-md-5">
        <div class="row no-gutters">
            <div class="col-md-8 pb-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-left text-center">Valores</h3>
                    <p class="text-md-left text-center">A Estili.Se serve de elo entre o profissional e o cliente como
                        uma
                        plataforma eficiente para possibilitar o desenvolvimento e ascensão de estilistas amadores
                        promovendo a criatividade e ao mesmo tempo em que atinge a satisfação.</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="../../assets/img/quemsomos/Valores (2).jpg" class="card-img" alt="valores">
            </div>
        </div>
    </div>

    <!-- nossa equipe -->
    <div>
        <h2 class="font-roboto verde-logo">NOSSO TIME</h2>
    </div>

    <!-- VICK -->
    <div class="mb-md-3 container my-md-5" id="foto1">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex flex-column align-items-center" id="vickdiv">
                <img src="../../assets/img/quemsomos/vick_foto@2x.png" class="card-img" alt="Vitória Nogueira">

                <ul class="social mb-0 list-inline mt-0 y-100 d-flex justify-content-around">
                    <li class=" px-3"><a href="https://github.com/vicknogueira" class="icoGithub" title="Github">

                            <fa-icon [icon]="faGithub" class="faGithub"></fa-icon>
                        </a></li>
                    <li class=" px-3"><a href="https://www.linkedin.com/in/vitoria-nogueira-vn/" class="icoLinkedin"
                            title="Linkedin">

                            <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
                        </a></li>
                </ul>
            </div>

            <div class="col-md-8 pb-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h5 class="text-md-left ml-md-auto text-center">Vitória Nogueira</h5>
                    <p class="text-md-right text-center">Curiosa pela tecnologia desde criança, mas minha
                        decisão em seguir carreira nela só começou em 2018, quando comecei o meu primeiro curso de
                        programação. Cursando Análise e Desenvolvimento de Sistemas, apaixonada por hackathons e todas
                        as
                        experiências que ela oferece. Atualmente participando do bootcamp da Generation onde estou
                        aprendendo itensamente e desenvolvendo o projeto Estili.se</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Gabs -->
    <div class="mb-3 container my-5" id="foto2">
        <div class="row no-gutters">
            <div class="col-md-8 pb-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h5 class="text-md-left mr-md-auto text-center">Gabriel Rodrigues de Oliveira</h5>
                    <p class="text-md-left text-center">Paulista,atualmente morando em itaquaquecetuba,decidi começar
                        uma
                        carreira como
                        desenvolvedor em 2019 e desde
                        então participei de três bootcamps,a academia mastertech que foi ministrado na estação hack do
                        facebook onde
                        aprendi HTML,css,Git,Github,Python e Django, fui pisciner da 42 São Paulo escola de programação
                        francesa
                        onde participei de uma imersão em programação por 25 dias com ShellScript e C,e participo da
                        Generation
                        Brasil onde estudo Java, Javascript, Typescript, Angular, Spring e MySQL além de metodologias
                        ágeis como
                        Scrum.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center order-first  order-md-2">
                <img src="../../assets/img/quemsomos/gabs_foto@2x.png" class="card-img" alt="Gabriel Nogueira">

                <ul class="social mb-0 list-inline mt-0 y-100 d-flex justify-content-around">
                    <li class="px-3"><a href="https://github.com/gabrieloliveiradev" class="icoGithub" title="Github">

                            <fa-icon [icon]="faGithub" class="faGithub"></fa-icon>
                        </a></li>

                    <li class="px-3"><a href="https://www.linkedin.com/in/gabrielrodriguesoliveira/" class="icoLinkedin"
                            title="Linkedin">

                            <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Jonatas -->
    <div class="mb-3 container my-5" id="foto3">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex flex-column align-items-center" id="jowdiv">
                <img src="../../assets/img/quemsomos/foto_jhow2@2x.png" class="card-img" alt="Jonatas Alves">

                <ul class="social mb-0 list-inline mt-0 y-100 d-flex justify-content-around">
                    <li class="px-3"><a href="https://github.com/jonatasdamascenoalves" class="icoGithub"
                            title="Github">

                            <fa-icon [icon]="faGithub" class="faGithub"></fa-icon>
                        </a></li>

                    <li class="px-3"><a href="https://www.linkedin.com/in/jonatasdamascenoalves/" class="icoLinkedin"
                            title="Linkedin">

                            <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
                        </a></li>
                </ul>
            </div>

            <div class="col-md-8 ">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h5 class="text-md-rigth ml-md-auto text-center" id="jonatas">Jonatas Damasceno Alves</h5>
                    <p class="text-md-right text-center">Sempre gostei da área de tecnologia e do ramo gráfico
                        no qual trabalhei por um período exercendo varias atividades como por exemplo: atendimento ao
                        publico.
                        Criações de artes gráficas e supervisão de equipe. Gosto de desafios que me levem ao crescimento
                        profissional e pessoal, recentemente conclui o bootcamp de desenvolvimento full-stack na
                        Generation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Guilherme -->
    <div class="mb-3 container my-5" id="foto4">
        <div class="row no-gutters">
            <div class="col-md-8 pb-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h5 class="text-md-right mr-md-auto text-center">Guilherme Martins</h5>
                    <p class="text-md-left text-center" id="guilherme">Por muito atuei na área de qualidade sentindo que
                        faltava algo, foi na tecnologia que descobri esse algo a mais, mais especificamente em
                        programação
                        conheci uma forma dinâmica de sanar necessidades e tratar de problemas. Na Generation Brasil fui
                        de
                        estudante a profissional, auferindo as habilidades técnicas e comportamentais necessárias para
                        agregar a uma equipe.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center order-first order-md-2">
                <img src="../../assets/img/quemsomos/foto_gui2@2x.png" class="card-img" alt="Guilherme Martins">

                <ul class="social mb-0 list-inline mt-0 y-100 d-flex justify-content-around">
                    <li class="px-3"><a href="https://github.com/GuilhermeMAlves" class="icoGithub" title="Github">

                            <fa-icon [icon]="faGithub" class="faGithub"></fa-icon>
                        </a></li>

                    <li class="px-3"><a href="https://www.linkedin.com/in/guilherme-martins-alves-a1533a187//"
                            class="icoLinkedin" title="Linkedin">

                            <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Otavio -->
    <div class="mb-3 container my-5" id="foto5">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="../../assets/img/quemsomos/otavio_foto@2x.png" class="card-img" alt="Otavio Mendes">

                <ul class="social mb-0 list-inline mt-0 y-100 d-flex justify-content-around">
                    <li class="px-3"><a href="https://github.com/otaviogmendes" class="icoGithub" title="Github">

                            <fa-icon [icon]="faGithub" class="faGithub"></fa-icon>
                        </a></li>

                    <li class="px-3"><a href="https://www.linkedin.com/in/otavio-mendes-652432128/" class="icoLinkedin"
                            title="Linkedin">

                            <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
                        </a></li>
                </ul>
            </div>

            <div class="col-md-8 ">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h5 class="text-md-right ml-md-auto text-center" id="otavio">Otavio Mendes</h5>
                    <p class="text-md-right text-center">Desde pequeno fui fascinado por tecnologia e percebi minha
                        paixão
                        por programação enquanto brincava e personalizava jogos open source. Durante o ensino técnico,
                        descobri meu desejo profissional: ser programador.
                        Nem sempre pude perseguir a carreira almejada, entretanto, com muita vontade de aprender, nunca
                        desisti e busquei sempre me conectar ao meu objetivo. Os desafios me acompanham, mas sempre me
                        impulsionam para buscar minha melhor versão.
                    </p>
                </div>
            </div>
        </div>


        <div class="container">
			<div class="box">
				<div class="imgBx">
					<img src="../../assets/img/quemsomos/vick_foto@2x.png">
				</div>
				<div class="content">
					<h2>Vitoria</h2>
					<p>Curiosa pela tecnologia desde criança, mas minha
                        decisão em seguir carreira nela só começou em 2018, quando comecei o meu primeiro curso de
                        programação. Cursando Análise e Desenvolvimento de Sistemas, apaixonada por hackathons e todas
                        as experiências que ela oferece. Atualmente participando do bootcamp da Generation onde estou
                        aprendendo itensamente e desenvolvendo o projeto Estili.se</p>
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="../../assets/img/quemsomos/gabs_foto@2x.png">
                </div>
                <div class="content">
					<h2>Gabriel Rodrigues</h2>
					<p>Paulista,atualmente morando em itaquaquecetuba,decidi começar
                        uma
                        carreira como
                        desenvolvedor em 2019 e desde
                        então participei de três bootcamps,a academia mastertech que foi ministrado na estação hack do
                        facebook onde
                        aprendi HTML,css,Git,Github,Python e Django, fui pisciner da 42 São Paulo escola de programação
                        francesa
                        onde participei de uma imersão em programação por 25 dias com ShellScript e C,e participo da
                        Generation
                        Brasil onde estudo Java, Javascript, Typescript, Angular, Spring e MySQL além de metodologias
                        ágeis como
                        Scrum.</p>
				</div>
            </div>
            <div class="box">
				<div class="imgBx">
					<img src="../../assets/img/quemsomos/jhow_foto@2x.png">
				</div>
				<div class="content">
					<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="../../assets/img/quemsomos/gui_foto@2x.png">
				</div>
				<div class="content">
					<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
				</div>
			</div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/img/quemsomos/otavio_foto@2x.png">
            </div>
            <div class="content">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                
            </div>
        </div>
    </div>













    </div>