#tituloHeader{
  max-width: 500px;
  text-align:center;
  margin: 50px auto;
  font-family: 'Roboto', sans-serif;
  color:#158591;
  font-size: 30px;
}
#tituloHeader::after{
  content:'|' ;
  margin-left: 5px;
  opacity: 1;
   animation: pisca 10s infinite;
}
@keyframes pisca{
  0%, 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
p{
  text-align: center;
  font-family: 'roboto', sans-serif;
  color:#158591;
}
h2 {
  color:#158591;
}
#cardSobre{
  background-size: 100%;
  background-image: url("../../assets/img/cartão@2x.png");
  height: 80%;
  width: 80%;
}
header{
  height: 90vh;
  width: 100%;
}
.textoSobre > p {
font-size: 28px;
max-width: 70%;
text-align: center;

}
h5{
  color:#158591;
  font-size: 30px;
}
  li {  
    list-style: none;
    margin: 10px,30px;
    display: inline-block;
    font-size: 35px;
    padding: 35px;
  }
  .social{
    max-width: 30%;

  }
  ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 50px;
  }

.faGithub:hover{
   
  color: black;
}

.faLinkedin:hover{
  
  color: #0072b1;

}