<h2 class="m-4">Meu perfil</h2>
<hr class="mb-5" style="width: 97%;">

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-4 col-lg-2" style="width: 160px; height: 160px; margin-top: 3rem; max-width: 160px; max-height: 160px;">
        <img src="{{usuario.imagemusuario}}" class="imagemUsuario w-100 h-100 rounded-circle" alt="" style="object-fit: cover;">
      </div>
      <div class="col-md-10 col-xs-12 col-sm-8 col-lg-10">
        <div class="container d-flex justify-content-end align-items-center pl-0">
          <p style="font-size: large; font-weight: 200;" class="mr-auto mt-auto mb-0">{{usuario.nome}}</p>
          <a [routerLink]="['/editar', usuario.idusuario]">
            <img src="../../assets/img/perfil-cliente/editar.svg" style="width: 100%;" >
          </a>
        </div>
        <hr>
        <div class="row">
          <ul class="col container">
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/email.png" style="width: 5%;"></span> E-mail: {{usuario.emailusuario}}</p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/cpf.png" style="width: 5%;"></span> CPF: {{usuario.cpfusuario}}</p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/endereço.png" style="width: 5%;"></span> Endereço: </p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/complemento.png" style="width: 5%;"></span> Complemento: {{usuario.complemento}}</p></li>
          </ul>
          <ul class="col container">
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/senha.png" style="width: 5%;"></span> Senha: *********</p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/nascimento.png" style="width: 5%;"></span> Data de Nascimento: {{usuario.datanascimento | date: 'dd/MM/yyyy'}}</p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/cep.png" style="width: 5%;"></span> CEP: {{usuario.cep}}</p></li>
            <li><p><span style="width:50px;"><img src="../../assets/img/perfil-cliente/telefone.png" style="width: 5%;"></span> Telefone: {{usuario.telefone}}</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="auth.verificarCampos()">
    <div style="text-align: center;">
      <p style="font-size: 30px;">Seu perfil esta incompleto</p>
      <p style="width: 60%; margin-left: 20%;" class="mb-4">Precisamos que você preencha suas informações para que você possa realizar seus pedidos e ter o melhor do nosso serviço.</p>
      <div *ngIf="auth.verificarProfissional(); else profissionais">
        <button type="button" class="btn botaoEditar mb-5" [routerLink]="['/editar', usuario.idusuario]">Editar Perfil</button>
      </div>
      <div #profissionais>
        <button type="button" class="btn botaoEditar mb-5" [routerLink]="['/editar', usuario.idusuario]">Editar Perfil</button>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="jumbotron mt-3" style="text-align: center; margin-left: 15%; cursor: pointer" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <img src="../../assets/img/perfil-cliente/adicionar.svg" style="position: absolute; margin-top: -10%; margin-left: 50%;">
        <img src="../../assets/img/perfil-cliente/icone-cartao.svg">
        <p style="font-size: 20px;">Adicionar Cartão</p>
      </div>
    </div>
    <div class="col-7">
      <p style="font-size: 35px; padding: 10% 0 0 10%">Adicione seu cartão</p>
      <p style="font-size: 20px; padding: 5% 0 0 10%">Cadastrando o seu cartão fica mais facil para fazer sua compras. Vamos lá, é bem fácil.</p>
    </div>
  </div>
  
  <div class="row m-5">
    <div class="col-7">
      <div class="row text-center">
        <div class="col-2">
          <img src="../../assets/img/perfil-cliente/icone-cartao2.svg" class="rounded float-left">
        </div>
        <div class="col-9">
          <p style="font-size: 28px;">Cartão Adicionado:</p>
        </div>
        <div class="col-1">
          <img src="../../assets/img/perfil-cliente/icone-editar.svg" class="pull-right" style="width: 140%;">
        </div>
      </div>
      <hr>
      <p>Titular: Jonatas Damasceno</p>
      <p>Numero do Cartão: 0000 0000 0000 0000</p>
      <p>validade: 00/00</p>
    </div>
    <div class="col-5">
      <img src="../../assets/img/perfil-cliente/exemplo.svg" class="float-right" style="width: 75%;">
    </div>
  </div>
</div>
<!-- Propaganda -->
<div class="row">
  <div class="col-9 gradiente">
    <p style="font-size: 35px; padding: 5% 0 0 10%">Quero Vender!</p>
    <p style="margin: 0; padding: 0 0 0 10%; font-size: 20px;">É um alfaiate ou costureira e quer vender seus produtos?</p>
    <p style="padding: 0 0 0 10%; font-size: 20px;">Então venha mostrar sua criatividade, nunca foi tão facil vender</p>
    <button type="button" class="btn botaoVender mb-5" style="margin-left: 10%;">Ser um vendedor</button>
  </div>
  <!--<div class="col-3">
    <img src="../../assets/img/perfil-cliente/exemplo.svg" style="width: 80%;">
  </div>-->
</div>

<!-- Modal Cartão -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" style="max-width: 40em!important; margin: 5.75rem auto!important;">
    <div class="modal-content" style=" width: 35em; height: 29em;">
      <div class="modal-body">
        <div class="d-block">
          <div class="d-flex justify-content-center" style="font-weight: 100;">
            <div class="position-absolute" id="cartao" style="width: 70%; height:  210px; background-color: #156254; border-radius: 10px; bottom: 270px;" >
              <div class="mt-3 ml-3" style="width: 20%; height: 50px; background-color: #E5E5E5; border-radius: 5px; bottom: 290px;"></div>
              
              <div class="w-100">
                <p class="ml-3 mt-4 text-light" id="numerocartao">0000 0000 0000 0000</p>
              </div>
              <div class="w-100 d-flex justify-content-between px-3 pr-4">
                <div class="d-block">
                  <p class="m-0 text-light">Titular</p>
                  <p class="text-light" id="nomecartao">Angela Alvez</p>
                </div>
                <div class="d-block">
                  <p class="m-0 text-light">Validade</p>
                  <div class="d-flex">
                    <p class="text-light" id="validadeMes">00</p>
                    <p class="text-light" >/</p>
                    <p class="text-light" id="validadeAno">00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="caixa-formulario">
            
            <div class="form-group d-flex justify-content-center">
              <input mask="0000 0000 0000 0000" type="text" class="form-control w-100 input-estilo" id="inputnumero" required (keyup)="substituirnumero()">
              <span class="linhaSpan"></span>
              <label class="col-form-label">Numero do cartão</label>
            </div>
            <div class="form-group d-flex justify-content-center">
              <input class="form-control w-100 input-estilo" required id="inputnome" type="text" (keyup)="substituirnome()">
              <span class="linhaSpan"></span>
              <label class="col-form-label">Titular</label>
            </div>
            <div class="d-flex mt-2">
              <select class="" id="selectMes" (click)="substituirvalidade()" required>
                <option selected class="" disabled>Mês</option>
                <option class="">01</option>
                <option class="">02</option>
                <option class="">03</option>
                <option class="">04</option>
                <option class="">05</option>
                <option class="">06</option>
                <option class="">07</option>
                <option class="">08</option>
                <option class="">09</option>
                <option class="">10</option>
                <option class="">11</option>
                <option class="">12</option>
                <!-- </select> -->
              </select>
              <div class="d-flex ml-2">
                <select class="" id="selectAno" (click)="substituirvalidade()" required>
                  <option selected class="" disabled>Ano</option>
                  <option class="">2020</option>
                  <option class="">2021</option>
                  <option class="">2022</option>
                  <option class="">2023</option>
                  <option class="">2024</option>
                  <option class="">2025</option>
                  <option class="">2026</option>
                  <option class="">2027</option>
                  <option class="">2028</option>
                  <option class="">2029</option>
                  <option class="">2030</option>
                  <option class="">2031</option>
                </select>
              </div>
              <div class="m-3">
                
              </div>
              
              <div class="form-group w-50 d-flex justify-content-end">
                <input type="text" class="form-control input-estilo w-100" id="animacaoCartaoCVV" required>
                <span class="linhaSpan"></span>
                <label class="col-form-label">CVV</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn text-light py-2" style="background-color: #71F6A6; width: 30%;">Salvar</button>
      </div>
    </div>
  </div>
</div>