  /*=========================================== Formatação =========================================== */

  
  #formataNav
  {
    text-align:justify;
    font-family: Roboto;
    font-style: normal;   
    font-size: 18px;   
    text-align: center;   

  }

  
  /* .img
  {
    position: absolute;
    width: 133px;
    height: 176px;       
    border-radius: 10px;
  } */

  /* Titulo H1 da Página  */

  h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.2em;
      color: rgba(0, 0, 0, 0.5);
  }

  /* Titulo H6 da Página  */

  h6 {
      font-family: Roboto;
      font-style: normal;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.2em;
      color: rgba(0, 0, 0, 0.5);
  }

  /*=========================================== Fim da Formatação =========================================== */

  /*=========================================== Perfil =========================================== */

  li {
      margin-bottom: 10px;
      list-style: none;
  }

  .jumbotron {
      /* background-color:transparent !important; */
      /* opacity: 0.9; */
  }

  .imagemUsuario {
      position: absolute;
      width: inherit;
      border-radius: 50%;
      height: 85%;
      margin-left: -65%;
  }

  .botaoEditar {
      padding: 0.375rem 3rem;
      /* background-color: #71F6A6; */
      color: black;
  }

  .botaoVender {
      padding: 0.375rem 3rem;
      background-color: white !important;
      color: black;
  }

  .botaoVender:hover {
      padding: 0.375rem 3rem;
      background-color: #71F6A6;
      color: black;
  }

  .gradiente {
      background: linear-gradient(270deg, rgba(186, 203, 248, 0) 0%, rgba(213, 186, 248, 0.538198) 49.53%, #BADAF8 96.25%)
  }

  /*=========================================== Encerra Perfil =========================================== */

  /* ============ Estilo do input de pesquisa ================ */

  .input-estilo {
      border-top-right-radius: 2.5px;
      border-top-left-radius: 2.5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: transparent;
      background-color: #FCFCFC;
      width: 100%;
      border: none;
      border-bottom: 1px solid rgb(7, 7, 7);
      /* filter: drop-shadow(0px 0px 2px white);
    transition: 0.5s;
    opacity: 1  !important; */
  }

  /* =============================================== Cor da linha Pesquisar ao clickar =============================================== */

  .linhaSpan:before, .linhaSpan:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      transition: .2s ease all;
      background: #118899;
  }

  /* ======================== Eventos do <input> pesquisa*/

  .input-estilo:focus {
      box-shadow: 0 0 0 0 transparent;
      border-bottom: 0.5px solid transparent!important;
  }

  /* ========================  Estilo do <span> que faz a animação no input*/

  .linhaSpan {
      /* tamanho e posição do span que é uma linha */
      position: absolute;
      display: block;
      width: 100%;
      bottom: 1px;
  }

  .input-estilo:focus~.linhaSpan:after {
      /* Tamanho da linha quando em foco e depois */
      width: 100%;
  }

  /*  =============================================  Fim do Pesquisar ============================================= */

  /*  =========================================== Card  Saldo =========================================== */

  .card-title {
      top: 500px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 35px;
      line-height: 100px;
      text-align: left;
  }

  .card:hover {
    /* fill: white; */
    /* opacity: 0.9; */
    filter: drop-shadow(0px 0px 2px black);
    transition: 0.10s;

  }

  .card {
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 6px 6px 18px #00000057;
      border-radius: 10px;
      width: 300px;
      height: 250px;
      opacity: 1;
      border-radius: 30px;
  }

  .card-header {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  }

  .card-footer {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
  }

  #fontSaldo {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
  }

  .imgIconRetirar {
      width: 100px;
      height: 100px;
      margin-left: 50px;
  }

  #fontSaldoRetirar {
      font-family: Roboto;
      font-style: normal;
      margin-left: 73px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: white;
  }

  .imgIcon {
      width: 36px;
      height: 36px;
      margin-right: 5px;
  }

  .form-group {
      margin-bottom: 2rem;
      position: relative;
  }

  /*  =========================================== Fim do card Saldo  =========================================== */

  /* =========================================== card do produto ===========================================*/

  .card-produto, .card-img, .card-img-adicionar {
      width: 290px;
      height: 400px;
      border-radius: 20px;
      background-color: #FBF8F8;
      position: relative;
      top: 25px;
  }

  .card-img, .card-img-adicionar {
      top: 0;
  }

  .card-descricao {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 290px;
      height: 100px;
      background-color: #f8fafb;
      /* border: 1px solid #000000; */
  }

  /* ======== Eventos para os cards produtos ========== */

  .card-produto .card-img-adicionar {
      display: flex!important;
      width: 42px;
      height: 40px;
      right: 10px;
      top: 10px;
      position: absolute;
      border-radius: 50%;
      opacity: 0.5;
  }

  /* =============== Efeito Hover do card Adicionar Produto =============== */

  .card-produto:hover {
      opacity: 0.9;
      filter: drop-shadow(0px 0px 2px black);
      transition: 0.10s;
  }

  /* ===============  Efeito Hover do botão Adicionar =============== */

  .card-img-adicionar:hover {
      filter: drop-shadow(0px 0px 2px white);
      transition: 0.5s;
      opacity: 1 !important;
  }

  /*=============== Efeito de sombra da Descrição =============== */

  .card-div-elemento-pai:hover .card-descricao, .card-div-elemento-pai:hover .card-produto {
      cursor: pointer;
      box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.212);
  }

  /*===============  Favorito ===============*/

  .card-produto:hover .card-svg-coracao {
      display: flex!important;
      width: 35px;
      height: 32px;
      right: 70px;
      top: 15px;
      border-radius: 3px;
      position: absolute;
      fill: white;
  }

  /*=============== Efeito sombra Favoritos =============== */

  .card-svg-coracao:hover {
      filter: drop-shadow(0px 0px 2px white);
      transition: 0.10s;
  }

  /* ========== Estilo do Modal =============== */

  .tamanhoPopupWidth {
      max-width: 1150px!important;
  }

  .tamanhoPopupHeight {
      height: 1000px!important;
  }

  .modalScreen {
      max-width: 1360px!important;
      height: 768px!important;
  }

  .svg-seta-direita {
      width: 9%;
      padding-bottom: 5px;
      padding-left: 8px;
      fill: #c3bdb5;
      cursor: pointer;
  }

  .svg-seta-direita:hover {
      fill: #9b9791;
  }

  /* =========================================== Filtro com animações ===========================================*/

  @keyframes aparece-filtro {
      from {
          transform: translateX(10px);
      }
      to {
          transform: translateX(-103px);
      }
  }

  .dropdown-menu {
      box-shadow: -2px 16px 15px rgba(0, 0, 0, 0.315);
      min-width: 22rem!important;
      border: none;
      top: 50px!important;
      left: 400px!important;
      z-index: 3!important;
      animation-name: aparece-filtro;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  /*  =========================================== Fim do Filtro com animações ===========================================*/

  /* =========================================== Tabela de numeração no Modal Adicionar Produto ================================================= */

  body {
      background-color: #ddd;
      font-family: 'Roboto Condensed';
  }

  .nav_tabs {
      width: 450px;
      height: 350px;
      margin: 100px auto;
      background-color: white;
      position: relative;
  }

  .nav_tabs ul {
      list-style: none;
  }

  .nav_tabs ul li {
      float: left;
  }

  .tab_label {
      display: block;
      width: 200px;
      background-color: #363b48;
      padding: 1px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      text-align: center;
  }

  .medida {
      width: 450px;
      height: 300px;
      margin-right: 10px;
  }

  .nav_tabs .rd_tab {
      display: none;
      position: absolute;
  }

  .nav_tabs .rd_tab:checked~label {
      background-color: #118899;
      color: #fff;
  }

  .tab-content {
      border-top: solid 5px #118899;
      background-color: #fff;
      display: none;
      position: absolute;
      height: 250px;
      width: 450px;
      left: 0;
  }

  .rd_tab:checked~.tab-content {
      display: block;
  }

  .tab-content h2 {
      padding: 10px;
      color: #87d3b7;
  }

  .tab-content article {
      padding: 10px;
      color: #555;
  }

  /* ============================================== Fim da Tabela de Numeração ================================================== */

  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid #4dd0e1;
      box-shadow: 0 1px 0 0 #4dd0e1;
  }

  /* =========================================== CSS GERAL DO SITE   ===========================================*/

  .font-cookie {
      font-family: 'Cookie', 'Sans Serif';
  }

  .font-roboto {
      font-family: 'Roboto', 'Sans Serfi';
  }

  .verde-logo {
      color: #118899;
  }

  /* =========================================== css da barra de scroll  ===========================================*/

  ::-webkit-scrollbar-track {
      background-color: rgb(224, 255, 251);
      border: 1px rgb(50, 167, 155);
  }

  ::-webkit-scrollbar {
      width: 8px;
      background: #8DF6EC;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #158591;
      scrollbar-base-color: rgb(224, 255, 251);
      scrollbar-base-color: rgb(224, 255, 251);
      scrollbar-3dlight-color: #158591;
      scrollbar-highlight-color: #158591;
      scrollbar-track-color: #158591;
      scrollbar-arrow-color: #158591;
      scrollbar-shadow-color: #158591;
  }