  /*=========================================== Formatação =========================================== */
.collapseModal
{
    text-align: justify;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    
}


/* Efeito Collapse do Modal Cadastro Produto */
  .btnCollapse
 {
    display: inline-block;
    font-weight: btn-font-weight;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
    user-select: none;
    border: btn-border-width solid transparent;
    color: black;
    text-decoration: none;
}


  .maisRecente {
      font-size: 24px;
  }

  /*Tabela de cores da roupa  */

  .corRoupa, corroupa:hover {
      width: 46px;
      height: 42px;
  }

  /* Botão de numeração de roupas */

  .numRoupa {
      width: 46px;
      height: 42px;
  }

  #formataNav {
      text-align: justify;
      font-family: Roboto;
      font-style: normal;
      font-size: 18px;
      text-align: center;
  }

  /* .img
  {
    position: absolute;
    width: 133px;
    height: 176px;       
    border-radius: 10px;
  } */

  /* Titulo H1 da Página  */

  h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.2em;
      color: rgba(0, 0, 0, 0.5);
  }
  .tituloadicionarProduto{
    line-height: 42px;
    letter-spacing: 0;
    font-weight: 300;
    color: black;
  }

  /* Titulo H6 da Página  */

  h6 {
      font-family: Roboto;
      font-style: normal;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.2em;
      color: rgba(0, 0, 0, 0.5);
  }

  /*=========================================== Fim da Formatação =========================================== */

  /*=========================================== Perfil =========================================== */

  li {
      margin-bottom: 10px;
      list-style: none;
  }

  .imagemUsuario {
      position: absolute;
      width: inherit;
      border-radius: 50%;
      height: 85%;
      margin-left: -65%;
  }

  .botaoEditar {
      padding: 0.375rem 3rem;
      /* background-color: #71F6A6; */
      color: black;
  }

  .botaoVender {
      padding: 0.375rem 3rem;
      background-color: white !important;
      color: black;
  }

  .botaoVender:hover {
      padding: 0.375rem 3rem;
      background-color: #71F6A6;
      color: black;
  }

  .gradiente {
      background: linear-gradient(270deg, rgba(186, 203, 248, 0) 0%, rgba(213, 186, 248, 0.538198) 49.53%, #BADAF8 96.25%)
  }

  /*=========================================== Encerra Perfil =========================================== */

  /* ============ Estilo do input de pesquisa ================ */

  .input-estilo {
      border-top-right-radius: 2.5px;
      border-top-left-radius: 2.5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: transparent;
      background-color: #FCFCFC;
      width: 90%;
      border: none;
      border-bottom: 1px solid rgb(202, 200, 200);
  }

  /* =============================================== Cor da linha Pesquisar ao clickar =============================================== */

  .linhaSpan:before, .linhaSpan:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      transition: .2s ease all;
      background: #71f6a6;
  }

  /* ======================== Eventos do <input> */

  .input-estilo:focus {
      box-shadow: 0 0 0 0 transparent;
      border-bottom: 0.5px solid transparent!important;
  }

  /* ========================  Estilo do <span> que faz a animação no input*/

  .linhaSpan {
      /* tamanho e posição do span que é uma linha */
      position: absolute;
      display: block;
      width: 100%;
      bottom: 1px;
  }

  .input-estilo:focus~.linhaSpan:after {
      /* Tamanho da linha quando em foco e depois */
      width: 100%;
  }

  /*  =============================================  Fim do Pesquisar ============================================= */

  /*  =========================================== Card  Saldo =========================================== */

  .card-title {
      top: 500px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 35px;
      line-height: 100px;
      text-align: left;
  }

  .card:hover {
      /* fill: white; */
      /* opacity: 0.9; */
      filter: drop-shadow(0px 0px 2px black);
      transition: 0.10s;
  }

  .cardSaldo {
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 6px 6px 18px #00000057;
      border-radius: 10px;
      width: 300px !important;
      height: 250px !important;
      opacity: 1;
      border-radius: 30px;
  }

  .card-header {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  }

  .card-footer {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
  }

  #fontSaldo {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
  }

  .imgIconRetirar {
      width: 100px;
      height: 100px;
      margin-left: 50px;
  }

  #fontSaldoRetirar {
      font-family: Roboto;
      font-style: normal;
      margin-left: 73px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: white;
  }

  .imgIcon {
      width: 36px;
      height: 36px;
      margin-right: 5px;
  }

  .form-group {
      margin-bottom: 2rem;
      position: relative;
  }

  /*  =========================================== Fim do card Saldo  =========================================== */

  /* =========================================== card do produto ===========================================*/

  .card-produto, .card-img, .card-img-editar {
      width: 290px;
      height: 400px;
      border-radius: 20px;
      background-color: #ffffff45;
      position: relative;
      top: 25px;
  }
  .card-svg-excluir {
    background-color: #ffffff45;
  }

  .card-img, .card-img-editar {
      top: 0;
  }

  .card-descricao {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 290px;
      height: 100px;
      background-color: #f8fafb;
      /* border: 1px solid #000000; */
  }

  .imgProduto:hover{
    /* -webkit-filter: brightness(0.5)!important; */
    filter: brightness(0.5)!important;
    -webkit-filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 2px black);
    transition: 0.10s;
  }
  .card-produto:hover .imgProduto{
    filter: brightness(0.5)!important;
    -webkit-filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 2px black);
    transition: 0.10s;
  }


  /* =============== Efeito Hover do card Adicionar Produto =============== */

  /* .card-produto:hover {
      filter: brightness(0.5)!important;
      filter: drop-shadow(0px 0px 2px black);
      transition: 0.10s;
  } */

  /* ===============  Efeito Hover do botão Adicionar =============== */

  .card-img-editar:hover {
      transition: 0.5s;
      opacity: 1 !important;
  }

  /*=============== Efeito de sombra da Descrição =============== */

  .card-div-elemento-pai:hover .card-descricao, .card-div-elemento-pai:hover .card-produto {
      cursor: pointer;
      box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.212);
  }

  /*===============  Favorito ===============*/

  .card-produto:hover .card-svg-excluir {
      display: flex!important;
      width: 41px;
      height: 41px;
      right: 10px;
      top: 61px;
      border-radius: 3px;
      position: absolute;
      z-index: 1;
  }
  
  .card-produto:hover .card-img-editar {
    display: flex!important;
    width: 41px;
    height: 41px;
    border-radius: 3px;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 1;
  }

  /*=============== Efeito sombra Favoritos =============== */

  .card-svg-excluir:hover, .card-img-editar:hover {
      filter: drop-shadow(0px 0px 2px white);
      transition: 0.10s;
  }

  /* ========== Estilo do Modal =============== */

  .tamanhoPopupWidth {
      max-width: 1150px!important;
  }

  .tamanhoPopupHeight {
      height: 1000px!important;
  }

  /* Tamanho do Moda */

  .modalScreen {
      max-width: 1294px!important;
      max-height: 768px!important;
  }

  .svg-seta-direita {
      width: 9%;
      padding-bottom: 5px;
      padding-left: 8px;
      fill: #c3bdb5;
      cursor: pointer;
  }

  .svg-seta-direita:hover {
      fill: #9b9791;
  }

  /* =========================================== Filtro com animações ===========================================*/

  @keyframes aparece-filtro {
      from {
          transform: translateX(10px);
      }
      to {
          transform: translateX(-103px);
      }
  }

  #dropdownFiltro {
      box-shadow: -2px 16px 15px rgba(0, 0, 0, 0.315);
      min-width: 22rem!important;
      border: none;
      top: 50px!important;
      left: 400px!important;
      z-index: 3!important;
      animation-name: aparece-filtro;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  /*  =========================================== Fim do Filtro com animações ===========================================*/

  /* =========================================== Tabela de numeração no Modal Adicionar Produto ================================================= */

  body {
      background-color: #ddd;
      font-family: 'Roboto Condensed';
  }

  .nav_tabs {
      width: 450px;
      height: 350px;
      margin: 0px auto;
      background-color: white;
      position: relative;
  }

  .nav_tabs ul {
      list-style: none;
  }

  .nav_tabs ul li {
      float: left;
  }

  .tab_label {
      display: block;
      width: 200px;
      background-color: #363b48;
      padding: 1px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      text-align: center;
  }

  .medida {
      width: 450px;
      height: 300px;
      margin-right: 10px;
  }

  .nav_tabs .rd_tab {
      display: none;
      position: absolute;
  }

  .nav_tabs .rd_tab:checked~label {
      background-color: #118899;
      color: #fff;
  }

  .tab-content {
      border-top: solid 5px #118899;
      background-color: #fff;
      display: none;
      position: absolute;
      height: 250px;
      width: 450px;
      left: 0;
  }

  .rd_tab:checked~.tab-content {
      display: block;
  }

  .tab-content h2 {
      padding: 10px;
      color: #87d3b7;
  }

  .tab-content article {
      padding: 10px;
      color: #555;
  }

  /* ============================================== Fim da Tabela de Numeração ================================================== */

  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid #4dd0e1;
      box-shadow: 0 1px 0 0 #4dd0e1;
  }

  /* =========================================== CSS GERAL DO SITE   ===========================================*/

  .font-cookie {
      font-family: 'Cookie', 'Sans Serif';
  }

  .font-roboto {
      font-family: 'Roboto', 'Sans Serfi';
  }

  .verde-logo {
      color: #118899;
  }

  /* =========================================== css da barra de scroll  ===========================================*/

  ::-webkit-scrollbar-track {
      background-color: rgb(224, 255, 251);
      border: 1px rgb(50, 167, 155);
  }

  ::-webkit-scrollbar {
      width: 8px;
      background: #8DF6EC;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #158591;
      scrollbar-base-color: rgb(224, 255, 251);
      scrollbar-base-color: rgb(224, 255, 251);
      scrollbar-3dlight-color: #158591;
      scrollbar-highlight-color: #158591;
      scrollbar-track-color: #158591;
      scrollbar-arrow-color: #158591;
      scrollbar-shadow-color: #158591;
  }

  /* ==================================== Modal Form ======================================== */

  /* Efeito GROW da imagem do cadastro de produtos */

  .efeito-grow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
  }

  /* Efeito GROW da imagem do cadastro de produtos */

  .efeito-grow:hover, .efeito-grow:focus, .efeito-grow:active {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  .topo:after {
      content: "";
      clear: both;
      display: table;
  }


  /* Efeito do Input */

  .modalForm {
      margin-bottom: 2rem;
      position: relative;
  }

  /* Linha verde Quantidade */

  .qtLinha {
      width: 90% !important;
  }

  /* Titulo Adicionar Modal*/

  .modal-header {
      width: 100% !important;
      padding-left: 55% !important;
  }

  /* Botões verdes */

  .btn-outline-dark:hover, .btn-light:hover {
      background-color: #71f6a6 !important;
  }

  .custom-select {
      width: 150px;
      height: 40px;
  }

  /* Design do Input sem bordas */

  .formulario {
      border-top-right-radius: 2.5px;
      border-top-left-radius: 2.5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: transparent;
      background-color: #FCFCFC;
      width: 90%;
      border: none;
      border-bottom: 1px solid rgb(202, 200, 200);
  }

  .formulario:focus {
      box-shadow: 0 0 0 0 transparent;
      border-bottom: 0.5px solid transparent!important;
  }

    /* Label dentro do input */

    .labelModal {
        position: absolute;
        top: -3px!important;
        left: 15px;
        padding: 10px 0;
        font-size: 16px!important;
        color: rgb(185, 185, 185)!important;
        pointer-events: none;
        font-weight: 100;
        transition: .2s ease all;
    }
  

  /* Cor da letra do formulario */

  .formulario:focus~.labelModal, .formulario:valid~.labelModal {
      top: -30px!important;
      left: 4px;
      font-size: 15px!important;
      font-style: normal;
      font-weight: 500;
      color: #71f6a6!important;
  }
/* ==================================================================== */
  .precoLabel {
      position: absolute;
      top: -4px!important;
      left: 53px!important;
      padding: 10px 0;
      font-size: 16px!important;
      color: rgb(185, 185, 185);
      pointer-events: none;
      font-weight: 100;
      transition: .2s ease all;
  }
  

  .precoFormulario:focus~.precoLabel, .precoFormulario:valid~.precoLabel{
      top: -30px!important;
      left: 10px!important;
      font-size: 15px!important;
      font-style: normal;
      font-weight: 500;
      color: #71f6a6!important;
  }


  /*=============================================== Linha de Span Inicio ==================================== */

  .linhaSpanModal {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 1px;
  }

  /* Cor da linha Span */

  .linhaSpanModal:before, .linhaSpanModal:after {
      content: '';
      height: 2px;
      width: 0px;
      position: absolute;
      transition: .2s ease all;
      background: #71f6a6;
  }

  .formulario:focus~.linhaSpanModal:after {
      width: 100%;
  }

  .esfera-c:hover~.linhaSpanModal:after {
      width: 100%;
  }

  /*=============================================== Linha de Span FIM ==================================== */

  .aqua {
      background-color: #00FFFF;
      color: #fff;
  }

  .aqua:hover {
      background-color: #00FFCC;
  }

  .cinza {
      background-color: #E5E5E5;
      color: #fff;
  }

  .cinza:hover {
      background-color: #E5E8B8;
  }

  textarea:focus, input:focus, select:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
  }

  @media(max-width: 992px) {
      #texto {
          font-size: 25px;
      }
  }