
/* ============ Estilo do input de pesquisa ================ */
.input-estilo{
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    background-color: #FCFCFC;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(236, 235, 235);
}   

.form-group{
    margin-bottom: 2rem;
    position: relative;
}


/* ======================== Eventos do <input> pesquisa*/
.input-estilo:focus{
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 0.5px solid transparent!important;
}


/* ========================  Estilo do <span> que faz a animação no input*/
.linhaSpan{ /* tamanho e posição do span que é uma linha */
    position: absolute;
    display: block;
    width: 100%;
    bottom: 1px;
}
.linhaSpan:before, .linhaSpan:after{/* cor da linha antes e depois com uma duração de 2 segundos*/
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: .2s ease all;
    background: #DCD7D0;
}
 .input-estilo:focus ~ .linhaSpan:after {/* Tamanho da linha quando em foco e depois */
    width:100%;
}

/*============== Botão para categoria ================= */

.botao-categoria{
    background-image: url("../../assets/img/produtos/seta-direita 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 160px;
    background-position-y: center;
    background-position-x: 9px;
}

/* ========= card do produto =========== */
.card-produto, .card-img, .card-img-adicionar{
    width: 290px;
    height: 400px;
    border-radius: 20px;
    background-color: #FBF8F8;
    position: relative;
    top: 25px; 
}
.card-img, .card-img-adicionar{
    top: 0;
}
.card-descricao{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 290px;
    height: 100px;
    background-color: #FBF8F8; 
}

/* ======== Eventos para os cards produtos ========== */
.card-produto:hover .card-img-adicionar{
    display: flex!important;
    width: 42px;
    height: 40px;
    border-radius: 3px;
    right: 10px;
    top: 10px;
    position: absolute;
}
.card-descricao:hover, .card-produto:hover{
    cursor: pointer;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.16);
}
.card-produto:hover .card-svg-coracao{
    display: flex!important;
    width: 35px;
    height: 32px;
    right: 70px;
    top: 15px;
    border-radius: 3px;
    position: absolute;
    fill: white;
}
.card-img-adicionar:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.16);
}
.card-svg-coracao:hover{
    filter: drop-shadow(0px 0px 2px white);
    transition: 0.10s;
}

/* ========== Estilo do Modal =============== */
.tamanhoPopupWidth{
    max-width: 1150px!important;
}
.tamanhoPopupHeight{
    height: 800px!important;
}
.svg-seta-direita{
    width: 9%;
    padding-bottom: 5px;
    padding-left: 8px;
    fill: #c3bdb5;
    cursor:pointer;
}
.svg-seta-direita:hover{
    fill: #9b9791;
}
