/* @import "~bootstrap/sami/dist/css/bootstrap.css"; */



/* Ancora */
html{
	behavior: 2s;
}

/* CSS da barra de loading*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #158591;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }

  /* CSS GERAL DO SITE  */
  .font-cookie {
    font-family: 'Cookie', 'Sans Serif';
  }
  .font-roboto {
    font-family: 'Roboto', 'Sans Serfif';
  }
  .font-roboto-light{
	  font-family: 'Roboto Light', 'Sans Serif';
  }
  .verde-logo {
    color: #118899;
  }

/* css da barra de scroll */

::-webkit-scrollbar-track {
    background-color: rgb(224, 255, 251);
    border: 1px rgb(50, 167, 155);
}
::-webkit-scrollbar {
    width: 8px;
    background: #8DF6EC;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #158591;
    scrollbar-base-color:  rgb(224, 255, 251);
    scrollbar-base-color:  rgb(224, 255, 251);
    scrollbar-3dlight-color: #158591;
    scrollbar-highlight-color: #158591;
    scrollbar-track-color: #158591;
    scrollbar-arrow-color: 158591;
    scrollbar-shadow-color: #158591;
}
/* ___________________________________________________________ */


.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 29px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -146px;
	perspective: 195px;
		-o-perspective: 195px;
		-ms-perspective: 195px;
		-webkit-perspective: 195px;
		-moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 29px;
	height: 29px;
	background: rgb(204,204,204);
	float: left;
	text-align: center;
	line-height: 29px;
	font-family: Verdana;
	font-size: 19px;
	color: rgb(255,255,255);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 345ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 345ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: #3399FF;
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: #3399FF;
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: #3399FF;
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: #3399FF;
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: #3399FF;
	}
}