<div class="container-fluid">

    <main>
        <section>

            <h1>Politicas de privacidade</h1><br>
            <div class="divsubtitulo">
                <h3 class="h3sessao subtitulo">O Estili-se sabe o quanto é importante para você conhecer e estar seguro
                    sobre a
                    utilização dos seus dados pessoais. Por isso, nos preocupamos em esclarecer e divulgar nossa
                    política de utilização dessas informações. Assim, você poderá entender melhor quais informações
                    obtemos e como as utilizamos. Dedique alguns minutos do seu tempo para ler essa política e
                    aproveitar de forma consciente e segura tudo o que o Estili-se tem para oferecer.</h3>
            </div>

            <article class="txt">
                <div class="imagemPoliticaPrivacidade">
                    <div>
                        <img class="imgPoliticaPrivacidade" src="./assets/img/component.png" alt="Erro de Imagem">
                    </div>
                </div>
                <aside class="paddingDireita">
                    <div>
                        <h3 class="h3sessao">SEÇÃO 1 - O QUE FAREMOS COM ESTA INFORMAÇÃO?</h3>
                        <p> Quando você realiza alguma transação com nossa
                            loja,
                            como parte do processo de compra e venda, coletamos as informações pessoais que você nos
                            dá
                            tais
                            como: nome, e-mail e endereço. Quando você acessa nosso site, também recebemos
                            automaticamente o
                            protocolo de internet do seu computador, endereço de IP, a fim de obter informações que
                            nos
                            ajudam a aprender sobre seu navegador e sistema operacional. Email Marketing será
                            realizado
                            apenas caso você permita. Nestes emails você poderá receber notícia sobre nossa loja,
                            novos
                            produtos e outras atualizações.</p>
                    </div>

                </aside>

            </article>

            <article class="txt sessaoConsentimento">

                <aside class="paddingEsquerda">
                    <div>
                        <h3 class="h3sessao">SEÇÃO 2 - CONSENTIMENTO </h3>
                        <p> Como vocês obtêm meu consentimento? Quando você fornece informações
                            pessoais como nome, telefone e endereço, para completar: uma transação, verificar seu
                            cartão de
                            crédito, fazer um pedido, providenciar uma entrega ou retornar uma compra. Após a
                            realização de
                            ações entendemos que você está de acordo com a coleta de dados para serem utilizados
                            pela nossa
                            empresa. Se pedimos por suas informações pessoais por uma razão secundária, como
                            marketing,
                            vamos lhe pedir diretamente por seu consentimento, ou lhe fornecer a oportunidade de
                            dizer não.
                            E caso você queira retirar seu consentimento, como proceder? Se após você nos fornecer
                            seus
                            dados, você mudar de ideia, você pode retirar o seu consentimento para que possamos
                            entrar em
                            contato, para a coleção de dados contínua, uso ou divulgação de suas informações, a
                            qualquer
                            momento, entrando em contato conosco em estilise@gmail.com ou nos enviando uma
                            correspondência
                            em: Estili.se R. Tito, 54 - Vila Romana, São Paulo - SP, 05051-000</p>
                    </div>
                </aside>
                <div class="imagemPoliticaPrivacidade">
                    <img class="imgPoliticaPrivacidade" src="./assets/img/component (1).png" alt="Erro de Imagem">
                </div>
            </article>

            <article class="txt sessaoServicos-e-Divulgacao">
                <div class="imagemPoliticaPrivacidade">
                    <img class="imgPoliticaPrivacidade" src="./assets/img/component (2).png" alt="Erro de Imagem">
                </div>
                <aside class="paddingDireita">
                    <article>
                        <h3 class="h3sessao">
                            SEÇÃO 3 - SERVIÇOS DE TERCEIROS
                        </h3>
                        <p> No geral, os fornecedores terceirizados usados por nós
                            irão
                            apenas coletar, usar e divulgar suas informações na medida do necessário para permitir
                            que eles
                            realizem os serviços que eles nos fornecem. Entretanto, certos fornecedores de serviços
                            terceirizados, tais como gateways de pagamento e outros processadores de transação de
                            pagamento,
                            têm suas próprias políticas de privacidade com respeito à informação que somos obrigados
                            a
                            fornecer para eles de suas transações relacionadas com compras. Para esses fornecedores,
                            recomendamos que você leia suas políticas de privacidade para que você possa entender a
                            maneira
                            na qual suas informações pessoais serão usadas por esses fornecedores. Em particular,
                            lembre-se
                            que certos fornecedores podem ser localizados em ou possuir instalações que são
                            localizadas em
                            jurisdições diferentes que você ou nós. Assim, se você quer continuar com uma transação
                            que
                            envolve os serviços de um fornecedor de serviço terceirizado, então suas informações
                            podem
                            tornar-se sujeitas às leis da(s) jurisdição(ões) nas quais o fornecedor de serviço ou
                            suas
                            instalações estão localizados. Uma vez que você deixe o site da nossa loja ou seja
                            redirecionado
                            para um aplicativo ou site de terceiros, você não será mais regido por essa Política de
                            Privacidade ou pelos Termos de Serviço do nosso site. Quando você clica em links na
                            nossa loja,
                            eles podem lhe direcionar para fora do nosso site. Não somos responsáveis pelas práticas
                            de
                            privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade
                            deles.
                        </p>
                    </article>
                </aside>

                <article class="txt">
                    <aside class="paddingEsquerda">
                        <div>
                            <h3 class="h3sessao">SEÇÃO 4 - SEGURANÇA</h3>
                            <p> Para proteger suas informações pessoais, tomamos precauções razoáveis e
                                seguimos as melhores práticas da indústria para nos certificar que elas não serão
                                perdidas
                                inadequadamente, usurpadas, acessadas, divulgadas, alteradas ou destruídas. Se você nos
                                fornecer
                                as suas informações de cartão de crédito, essa informação é criptografada usando
                                tecnologia
                                "secure socket layer" (SSL) e armazenada com uma criptografia AES-256. Embora nenhum
                                método
                                de
                                transmissão pela Internet ou armazenamento eletrônico é 100% seguro, nós seguimos todos
                                os
                                requisitos da PCI-DSS e implementamos padrões adicionais geralmente aceitos pela
                                indústria
                            </p>
                        </div>
                    </aside>
                    <div class="imagemPoliticaPrivacidade">
                        <img class="imgPoliticaPrivacidade" src="./assets/img/component (3).png" alt="Erro de Imagem">
                    </div>

                </article>

                <article class="txt sessaoServicos-e-Divulgacao" id="sessaoDivulgacao">
                    <div>
                        <img class="imgPoliticaPrivacidade" src="./assets/img/component (4).png" alt="Erro de Imagem">
                    </div>
                    <aside class="paddingDireita">
                        <div>
                            <h3 class="h3sessao">SEÇÃO 5 - DIVULGAÇÃO</h3>

                            <p> A Estile.se pode divulgar suas informações pessoalmente identificáveis
                                sem sua permissão se você acredita de boa fé que tal divulgação é razoavelmente
                                necessária para cumprir qualquer lei, regulamento, procedimento legal aplicável
                                ou solicitação governamental para investigar ou proteger contra atividades prejudiciais
                                aos usuários, associados ou propriedade (incluindo a Web) ou para outros. A Estile.se
                                também se reserva o direito de divulgar essas informações para fazer cumprir os Termos
                                de Serviço, incluindo a investigação de possíveis violações dos Termos de Serviço.
                            </p>
                        </div>
                    </aside>


                </article>
                <article class="txt">

                    <aside class="paddingEsquerda">
                        <div>
                            <h3>SEÇÃO 6 - ALTERAÇÕES PARA POLÍTICA DE PRIVACIDADE</h3>

                            <p> Reservamos o direito de modificar essa política de privacidade a qualquer
                                momento, então por favor, revise-a com frequência. Alterações e esclarecimentos vão
                                surtir
                                efeito imediatamente após sua publicação no site. Se fizermos alterações de
                                materiais
                                para essa
                                política, iremos notificá-lo aqui que eles foram atualizados, para que você tenha
                                ciência sobre
                                quais informações coletamos, como as usamos, e sob que circunstâncias, se alguma,
                                usamos
                                e/ou
                                divulgamos elas. Se nossa loja for adquirida ou fundida com outra empresa, suas
                                informações
                                podem ser transferidas para os novos proprietários para que possamos continuar a
                                vender
                                produtos
                                para você.
                            </p>
                        </div>
                    </aside>
                    <div>
                        <img class="imgPoliticaPrivacidade" src="./assets/img/component (5).png" alt="Erro de Imagem">
                    </div>

                </article>
            </article>
            
        </section>
    </main>


</div>
