*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
article{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
aside{
    height: 500px;
    width: 51%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloPoliticaPrivacidade{
    font-weight: 300;
    line-height: 1.65;
    color: #565961;
    font-size: 50px;
}

.imgPoliticaPrivacidade{
    width: 21rem;
}
.txt{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65;
    color: #565961;
    text-align: left;
}
.imagemPoliticaPrivacidade{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.divsubtitulo{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}
.subtitulo{
    width: 76%;
    font-size: 16px;
}
.h3sessao{
    margin-bottom: 13px;
    margin-top: 13px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.65;
    color: #2f3031;
}
#sessaoDivulgacao{
    margin-top: 11em;
}
.visivel{
    visibility: hidden;
    display: none;
}
@media(max-width: 790px){
    aside{
        height: 279px;
        width: 100%;
        float: left;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article{
        height: 55em;
        display: block;
    }
    .caixa-div-sessao{
        width: 80%;
    }
    .sessaoConsentimento, .invisivel{
        display: none;
    }
     .visivel{
        visibility: visible!important;
        display: block!important;
    }
    .sessaoServicos-e-Divulgacao{
        height: 80em;
    }
    .centralizadoComMedia{
        display: flex;
        justify-content: center;
    }
    #sessaoDivulgacao{
        height: 50em;
    }
    .asideSessao3e6{
        height: 40em;
    }
}