/* ========= Foto de perfil ============ */


/*  ================ Botão para editar foto perfil ================== */
.btnEditarFoto{
    right: 0;
    float: right;
    top: 175px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    z-index: 1000;
}
.btnImgCamera:hover{
    box-shadow: 0px 0px 9px 0px #0000006b;
    background-color: gainsboro!important;
    transition: 0.4s;
}
.svg-btn-editar-foto{
    fill: #8a8a8a9e;
}
.btnImgCamera:hover .svg-btn-editar-foto{
    fill: #5654549e;
    transition: 0.4s;
}

/* ============================ Estilo e posicionamento do label dentro do input */
label{
    position: absolute;
    top: -3px!important;
    left: 40px;
    padding: 10px 0;
    font-size: 16px!important;
    color: rgb(175, 174, 174)!important;
    pointer-events: none;
    font-weight: 100;
    transition: .2s ease all;
}  
/* =========================== Tamanho do Popup*/
.tamanhoPopupWidth{
    max-width: 933px!important;
}
.tamanhoPopupHeight{
    height: 615px!important;
}
/* ========================== Formulários dos <input> */
.form-group{
    margin-bottom: 2rem;
    position: relative;
}
/* ======================== estilo dos <input> */
.input-estilo{
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    background-color: #FCFCFC;
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(202, 200, 200);
}   
/* ======================== Eventos do <input> */
.input-estilo:focus{
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 0.5px solid transparent!important;
}
.input-estilo:focus ~ label, .input-estilo:valid ~ label{ /* posicionamento do label em cima do input */
    top: -30px!important;
    left: 30px;
    font-size: 13px!important;
    font-style: normal;
    font-weight: 500;
    color: #71f6a6!important;
}
/* ========================  Estilo do <span> ===================*/
.linhaSpan{ /* tamanho e posição do span que é uma linha */
    position: absolute;
    display: block;
    width: 90%; 
    bottom: 1px; 
}
.linhaSpan:before, .linhaSpan:after{/* cor da linha antes e depois com uma duração de 2 segundos*/
    content: '';
    height: 2px;
    bottom: 0px;
    width: 0;
    position: absolute;
    transition: .2s ease all;
    background: #71f6a6;
}
 .input-estilo:focus ~ .linhaSpan:after {/* Tamanho da linha quando em foco e depois */
    width:100%;
}
/*  ===========  Sessão da propaganda para se tornar um vendedor ================= */
.gradiente {
    background: linear-gradient(270deg, rgba(186, 203, 248, 0) 0%, rgba(213, 186, 248, 0.538198) 49.53%, #BADAF8 96.25%)
}
.botaoVender {
    padding: 0.375rem 3rem;
    background-color: #71F6A6;
    color: black;
}

/* =========== Img de perfi original ============ */
.imgPerfil{
    background-image: url(../../assets/img/nav/perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
