.nuvem {
    width: 70%;
    display: inline-block;
    position: absolute;
    z-index: 0;
}

.mulher {
    position: relative;
    float: right;
    width: 31%;
    margin: 6%;
    z-index: 1;
}

.topo::after {
    content: "";
    clear: both;
    display: table;
}

label {
    position: absolute;
    top: -3px!important;
    left: 15px;
    padding: 10px 0;
    font-size: 16px!important;
    color: rgb(185, 185, 185)!important;
    pointer-events: none;
    font-weight: 100;
    transition: .2s ease all;
}  

.form-group {
    margin-bottom: 2rem;
    position: relative;
}

.texto {
    position: absolute;
    width: 50%;
    left: 7%;
    top: 30%;
    font-size: 25px;
    font-family: Roboto;
    line-height: 29px;
    color: black;
}

.caixa1 {
    display: contents;
}

#linha-c-esquerda {
    background-color: #aaa;
    width: 45%;
    height: 2px;
    float: right;
    text-align: center;
}
/* ----- Linha do span ----------- */

#linha-c-direita {
    background-color: #aaa;
    width: 45%;
    height: 2px;
    float: left;
    text-align: center;  
}

#linha-v-esquerda {
    background-color: #66F4DB;
    width: 45%;
    height: 2px;
    float: right;
    text-align: center;  
}

#linha-v-direita {
    background-color:#66F4DB;
    width: 45%;
    height: 1px;
    float: left;
    text-align: center; 
}

.esfera-v{
    background: #66F4DB;
    color: white;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.esfera-c{
    background: #aaa;
    color: #686363;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;

}

.fila {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.caixa-formulario {
    width: 60% !important;
    margin: 0 auto;
}

.formulario {
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    background-color: #FCFCFC;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(236, 235, 235);
}

.formulario:focus {
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 0.5px solid transparent!important;
}

.formulario:focus ~ label, .formulario:valid ~ label{
    top: -30px!important;
    left: 4px;
    font-size: 15px!important;
    font-style: normal;
    font-weight: 500;
    color: #71f6a6!important;
}

.input-tel-nome{
    width: 100%;
}

.linhaSpan{
    position: absolute;
    display: block;
    width: 100%; 
    bottom: 1px; 
}

.linhaSpan:before, .linhaSpan:after{
    content: '';
    height: 2px;    
    width: 0px;
    position: absolute;
    transition: .2s ease all;
    background: #71f6a6;
}

.formulario:focus ~ .linhaSpan:after {
    width:100%;
}
.esfera-c:hover ~ .linhaSpan:after {
    width:100%;
}

.botao{
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px 28px;
}

.botao:hover{
    background-color: #777;
}

.aqua{
    background-color: #00FFFF;
    color: #fff;
}

.aqua:hover{
    background-color: #00FFCC;
}

.cinza {
    background-color: #E5E5E5;
    color: #fff;
}

.cinza:hover{
    background-color: #E5E8B8;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}