
    <div>
        <div class="jumbotron" style="width: 50%; height: 50%;">
            <form style="width: 90%; height: 90%;">
                <h1>Fale conosco</h1>
                <br><br>
                <label for="">Nome completo</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="nomeCompleto" placeholder="Digite seu nome completo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">E-mail </label>
                    <input type="email" class="form-control" id="email"
                        placeholder="name@exemplo.com">
                </div>

                <label for="">Telefone</label>
                <div class="row">
                    <div class="col">
                        <input type="tel" class="form-control" id="telefone" placeholder=" (00) 00000-0000">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="mensagemContato" rows="3"
                        placeholder="Digite sua mensagem..."></textarea>
                </div>
                <br><br>
                <button type="submit" class="btn btn-outline-dark" id="validar">Enviar</button>
                <button type="button" class="btn btn-outline-dark">Limpar</button>

            </form>
        </div>