* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#nav-bar {
    background-color: #ECA4A6;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
#logo-img {
    width:auto;
    height: 60%;
}
#nav-botao {
    width: 30%;
}
#nav-botao > button {
    list-style: none;
    background-color: white;
    border: 0;
    float: left;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ECA4A6;
    font-size: 25px;
}

button:first-child {
    width: 20%;
    height: 45px;
}
button:nth-child(2) {
    width: 30%;
    height: 45px;
    margin-left: 10px;
}

#espaco {
    height: 500px;
    background-color: white;
}

#rodape {
    width: 100%;
    height: 300px;
    background-color: #ECA4A6;
    display: flex;
    justify-content: space-around;
}
#redes {
    padding-bottom: 20px;
}

#endereco, #redes, #paginas {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#endereco-info > img {
    width: 250px;
    height: 210px;
}
.redes-img > img {
    margin: 0 10px;
}

#paginas {
    list-style: none;
    padding: 0;
}
#div-lista {
    height: 200px;
    padding: 0;
}