*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section{
    display: block;
    justify-content: center;
    width: 100%;
}
h1{
    text-align: center;
}
article{
    /* width: 100%;
    height: 524px; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
/* div{
    float: left;
} */
aside{
    height: 500px;
    /* width: 554px; */
    width: 51%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 21rem;
}
h3{
    margin-bottom: 13px;
}
.txt{
    text-align: justify;
    /* margin-left: 10%;*/
}
.imagemPoliticaPrivacidade{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.mudarTamanhoArticle{
    height: 676px;
}
.sessaoConsentimento{
    height: 715px;

}
.paddingDireita{
    padding-right: 13px;
}
.paddingEsquerda{
    padding-left: 13px;
}
