<main class="container-fluid">
    <!-- Sessão inicial, banner -->
    <header class="container mt-5 ">
        <!-- Imagem que compõe o header -->
        <div class="row">
            <div class="col-md-6 animação-banner-img">
                <img style="width: 100%;" src="../../assets/img/profissionais/header_profissionais.png" alt="">
            </div>
            <!-- Titulo e texto do header -->
            <div class="col-md-6 d-flex-justify-content-center p-3 animação-banner-titulo">
                <div class="d-block justify-content-left" style="margin: 80px 10px 10px 10px;">
                    <h1 class="font-inherit mb-3" style="font-weight: 100; font-size: 30px;">Encontre os melhores profissionais
                    </h1>
                    <div style="width: 70%;">
                        <p>Aqui você encontra os melhores costureiros (as) e alfaiates do país com diversas especialidades e prontos pra te entregar o estilo que você deseja</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Local de pesquisa de profissionais -->
    <article class="d-flex justify-content-center mt-5">
        <div class="form-group d-flex justify-content-center" style="width: 60%;">
            <input type="text" class="form-control input-estilo" placeholder="Pesquisar..." name="pesquisa"
            minlength="4" required>
            <span class="linhaSpan"></span>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button class="btn ml-2 p-2 px-4 text-light" style="background-color: #71F6A6;">Pesquisar</button>
        </div>
    </article>
    
    <!-- local de perfis dos profissionais -->
    <section class="container-fluid row justify-content-around mb-5 ml-0" id="section_perfil" >
        <ng-container  *ngFor="let usuario of listaProfissional">
            <div class="row justify-content-center col-12 col-md-3 mt-5"  *ngIf="authService.profissionalPreenchido(usuario)">
                
                <div  class="" id="div_img_profissional">
                    <img src="{{usuario.imagem_usuario}}" class="w-100 h-100 rounded-circle" alt="" style="object-fit: cover;">
                </div>
                
                <div id="perfil_texto" class="p-3 d-flex flex-column align-items-center align-content-around" style="margin-top: 94px;">
                    <h2 class="font-roboto-light text-center" style="margin-top: 70px;">{{usuario.nome}}</h2>
                    <hr style="width: 80%; margin-top: 0; margin-bottom: 0;border-color: lightgray;">
                    <p class="my-3 text-center" style="max-width: 80%;"> <span style="font-weight: bolder;">Descrição:</span>  {{usuario.descricaoUsuario}}</p>
                    <hr style="width: 80%; margin-top: 0; margin-bottom: 0;border-color: lightgray;">
                    <p class="my-3 text-center" id="ParagrafoEspecialidade" style="max-width: 80%;"> <span style="font-weight: bolder;">Especialidades:</span> {{usuario.especialidade}}</p>
                    <hr style="width: 80%; margin-top: 0; margin-bottom: 0;border-color: lightgray;">
                    <a href="" style="text-decoration: none; color: #118899;"><p class="my-3" >Ver perfil -></p></a>
                </div>
            </div>
        </ng-container>
    </section>
</main>