* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    top: 208px;
    left: 762px;
    width: 397px;
    height: 108px;
    text-align: left;
    font: Regular 98px/108px Cookie;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}