* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    width:100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-family: 'Cookie';
    font-size: 80px;
}
#main_conteudo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#collapse_cliente {
    width: 60%;
}
#collapse_costureiro {
    width: 60%;
}

.btn {
    display: inline-block;
    font-weight: btn-font-weight;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
    user-select: none;
    border: btn-border-width solid transparent;
    color: black;
    text-decoration: none;
}

.btn:hover {
    color: black;
}