<body class="mb-5">
    <header>
        <h1 class="text-center text-justify">Perguntas frequentes</h1>
    </header>
    <main id="main_conteudo">
        <section id="collapse_cliente">
            <h3>CLIENTE:</h3>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como devo avaliar o vendedor?
                            </button>
                        </h5>
                    </div>
                    
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Avaliar o vendedor é de extrema importância. Por intermédio de sua opinião, outros compradores poderão decidir se querem ou não concretizar a compra.
                            Ao fazer isso, leve em consideração fatores como: atendimento, prazo de entrega, cumprimento de prazos e qualidade do produto. Se por alguma razão, a avaliação for negativa, observe os motivos e verifique se não houve falhas também de sua parte, como por exemplo, demorar a confirmar quantidades a serem produzidas ou aprovar uma arte, assim, você evita avaliar o vendedor injustamente. 
                            
                            Para realizar uma avaliação, você tem que acessar a sua conta no Estili.se >  Ícone pedidos > No pedido clique em  "Avaliar o vendedor".
                            Você conseguirá avaliar a partir do momento em que realizar o pagamento ou se o pedido for cancelado.
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" >
                                Como comprar mais de um produto?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Ao iniciar a compra de diversos produtos, é preciso que acesse a página do produto desejado e clique em Comprar este produto. Depois clique em Escolher mais produtos e realize o mesmo procedimento.
                            Somente após selecionar todos os produtos, você deve acessar o carrinho e clicar no botão Enviar pedido. Dessa maneira todos os produtos serão incluídos em um mesmo pedido.                    
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" >
                                Estou fazendo vários pedidos no Estili.se, posso pagar um único frete?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Os pedidos no Estili.se são feitos diretamente nas lojas e por isso o frete é calculado por cada uma delas e deve ser pago para cada uma delas separadamente, juntamente com o valor dos produtos.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" >
                                Como solicito a devolução de um produto recebido?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            É necessário que você tenha acordado as condições de devolução de um produto com o vendedor antes que você envie o produto comprado de volta a ele.
                            Você deve garantir que:
                            - Tem o registro da confirmação do vendedor via Mensagens no site do Estili.se que ele irá aceitar a devolução;
                            - Tem um endereço de devolução fornecido pelo vendedor;
                            - O prazo estimado no qual o vendedor receberá de volta o produto vendido;
                            - Um acordo claro que determina qual parte envolvida (comprador ou vendedor) ficará responsável pelo custo de envio do produto devolvido;
                            É recomendável também que esteja descrito o código de rastreio do item devolvido.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Problemas com a devolução, reembolso ou troca de um produto.
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Considerando que cada vendedor é responsável pela gestão de sua loja e produtos dentro do marketplace, o Estili.se não tem envolvimento e é isento de responsabilidade nas transações individuais entre comprador e vendedor. Isso significa que o Estili.se não é responsável por garantir que um produto que não atenda as expectativas do comprador seja trocado, reembolsado ou devolvido, ficando a caráter da negociação entre comprador e vendedor que esta transação seja realizada por comum acordo.
                            Caso não haja acordo e o comprador não consiga retorno do vendedor sobre o problema ou solicitação que deseja resolver, o procedimento padrão é a abertura de um chamado junto a nossa central de atendimento para análise do caso.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como alterar meu e-mail?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            Clique em seu usuário e no menu Minha conta > Dados pessoais altere o email de sua conta. Feita a alteração, clique em "Salvar Informações".
                            Você deverá usar o novo email como usuário na próxima vez que efetuar login no Estili.se. Sua senha permanece a mesma.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Quero cancelar meu pedido mas já paguei, o que faço?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            O cancelamento do pedido e o reembolso do pagamento devem ser solicitados diretamente ao vendedor.
                            Acesse sua conta no Estili.se, clique no menu Meus Pedidos (ao lado do carrinho) em seguida em Ver detalhes ou Contatar Vendedor e envie sua mensagem pelo campo de mensagens do pedido. 
                            Caso a loja não responda, entre em contato conosco, clicando em Enviar uma solicitação e nossa equipe lhe ajudará fazendo uma intermediação com a loja.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Qual o prazo para identificação de um pagamento?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">
                            A análise do pagamento ocorre em até 48 horas quando o pagamento é feito via cartão de crédito e em até 3 dias úteis quando o pagamento é feito via boleto bancário, alguns pagamentos são aprovados mais rapidamente e outros atingem o tempo estipulado. 
                            No caso do boleto bancário, o prazo é definido pelo Banco para que haja a compensação do titulo.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como deixo uma avaliação no costureiro(a)?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                        <div class="card-body">
                            Para realizar a avaliação do profissional que efetuou a compra, basta seguir o passo-a-passo abaixo:
                            
                            1 - Acesse o seu cadastro e clique em Meus pedidos (opção ao lado do carrinho);
                            2 - Busque por todos os pedidos;
                            2 - Aparecerá uma lista com todos seus pedidos, basta então confirmar o recebimento do pedido e posteriormente será apresentada a opção Avaliar vendedor.
                            
                            Para avaliar, o pagamento deve estar realizado ou o pedido cancelado/finalizado.
                            
                            Pronto! Agora basta deixar na avaliação como foi a sua experiência de compra com a loja.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                O prazo de produção expirou e meu produto não foi enviado. O que fazer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                        <div class="card-body">
                            O prazo de produção de seu pedido expirou?
                            Verifique esta informação acessando o seu pedido e lembre que deve sempre contar em dias úteis, a partir da data da aprovação do pagamento.
                            Se o prazo de postagem expirou entre em contato com o atendimento Estili.se. Em breve retornaremos o seu contato.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Recebi o pedido com defeito ou diferente do acordado.
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                        <div class="card-body">
                            Neste caso, nossa indicação é que entre em contato com a profissional com quem fez o pedido e solicite a troca do produto. O costureiro é o responsável pela confecção e envio do pedido e pelo processo de troca no caso de defeito ou inconformidade.
                            Caso o vendedor não responda, pedimos que entre em contato com nossa equipe de atendimento clicando em Enviar uma solicitação e vamos iniciar um processo de intermediação com a loja.
                        </div>
                    </div>
                </div>
                <br>
                <h3>COSTUREIRO(A):</h3>
                <div class="card">
                    <div class="card-header" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Para vender na plataforma preciso possuir CNPJ?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                        <div class="card-body">
                            Não nós não colocamos a condição de possuir CNPJ.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirteen" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                O que posso vender no Estili.se?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                        <div class="card-body">
                            Você pode divulgar e vender peças de vestuário através do Estili.se, desde que sejam produtos feitos ou que sejam personalizados por você.
                            Isto inclui, dentre outras coisas: camisas, calças, vestidos, saias, calçados, chapéus e qualquer tipo de produto de vestuário industrializado que tenha recebido personalização.
                            <br><br>
                            Não é permitido no site:
                            <br><br>
                            - A revenda de nenhum tipo de produto ou serviço; <br>
                            - Venda de peças 100% criados / produzidas por terceiros;<br>
                            - Venda de produtos industrializados;<br>
                            - Venda de serviços.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFourteen" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Esqueci minha senha. Como recuperá-la?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                        <div class="card-body">
                            Na página inicial do site, clique em "Entrar"  e após "Esqueci minha a senha". Informe o seu e-mail e você receberá um link com os procedimentos para alterar sua senha.
                            Esse e-mail tem prazo de validade de 24 horas e a cada vez que você clica em "Enviar link" o link recebido no e-mail anterior é cancelado. Portanto, se você solicitar o link acesse o e-mail para utilizá-lo o quanto antes e evite clicar mais de uma vez no link antes de receber o e-mail.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFifteen" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como altero minha senha atual para uma nova senha?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                        <div class="card-body">
                            Para alterar sua senha os passos são: <br><br>
                            1 - acesse o seu cadastro <br>
                            2 - clique na seta ao lado de seu nome e acesse a opção "Minha conta" <br>
                            3 - clique na opção "Mudar senha" <br>
                            4 - insira sua senha atual e a nova senha, em seguida clique em atualizar. <br><br>
                            
                            Pronto! Sua senha foi alterada!
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSixteen" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como altero o meu endereço residencial em minha conta?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                        <div class="card-body">
                            Acesse sua conta no Estili.se, clique em seu Nome no canto superior direito > Acesse a opção Minha Conta > e no campo Endereço efetue a alteração necessária.
                            Após a alteração clique no botão  “Salvar informações”.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeventeen" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Tentei acessar minha loja e apareceu que meu no cadastro não está liberado. O que devo fazer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                        <div class="card-body">
                            Nesse caso, sua loja está bloqueada e não está visível para seus compradores. Verifique em sua caixa de e-mail (inclusive no lixo eletrônico) a notificação de irregularidade enviada por atendimento. 
                            Mesmo bloqueado você terá acesso à relação de pedidos pendentes, edição de produtos, etc.  
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEightteen" data-toggle="collapse" data-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                O sistema acusa login ou senha incorretos. O que estou fazendo de errado?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEightteen" class="collapse" aria-labelledby="headingEightteen" data-parent="#accordionExample">
                        <div class="card-body">
                            - Tente utilizar outro navegador ou acesse diretamente o link http://# <br>
                            - Também sugerimos fazer uma limpeza nos cookies e caches do seu navegador. Para isso, digite Ctrl + Shift + Del. <br>
                            - Certifique-se que você está usando a versão mais atual de seu navegador. O Estili.se está configurado para funcionar com o Microsoft Internet Explorer, Mozilla Firefox e Google Chrome. <br>
                            - Sempre verifique se a tecla CAPS LOCK do seu teclado está ligada e digite manualmente sua senha, em vez de copiar e colar.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNineteen" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Quero cancelar minha parceria com a Estili.se, como proceder?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionExample">
                        <div class="card-body">
                            Para desativar sua conta no Estili.se, primeiramente os pedidos em andamento devem ser finalizados ou cancelados e a fatura de comissão pendente (caso haja), deve ser paga. Em seguida, avise-nos através da nossa central de atendimento e daremos continuidade na desativação. Caso queira, podemos migrar sua conta para de Comprador. Basta nos informar.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwenty" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Problemas na entrega, o que fazer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionExample">
                        <div class="card-body">
                            1) Quando a mercadoria retorna por endereço incorreto ou incompleto:
                            Nesse caso, o frete deve preferencialmente ser pago pelo comprador. A diferença do valor pode ser depositado na conta bancária do vendedor e após a confirmação do endereço correto, o segundo envio deve ser feito no modo convencional, sem a utilização da PLP. 
                            Quando o comprador altera o endereço no cadastro, a mudança refletirá apenas nos novos pedidos. Nas compras que já estão em andamento, o endereço permanecerá o mesmo.
                            <br><br>
                            2) Quando o comprador não está disponível para recebimento da mercadoria em sua residência e o produto retorna ao vendedor:
                            Para o reenvio, o frete deve preferencialmente ser pago pelo comprador. A diferença do valor pode ser depositado na conta bancária do vendedor e a mercadoria deve seguir pelo modo convencional dos Correios, sem a utilização da PLP. É importante que o comprador esteja em casa ou deixe alguém responsável para o recebimento da mercadoria. 
                            <br><br>
                            3) O comprador relata uma avaria no produto após a abertura da caixa:
                            Em casos de avaria, é possível abrir uma reclamação site dos Correios desde que o comprador a tenha constatado no ato da entrega e negado o recebimento. Nesse caso, emitimos uma segunda via de PLP para o reenvio da troca.
                            Dica: Oriente o seu comprador a abrir a mercadoria no ato da entrega, para que confirme se não há avaria logo no recebimento.  
                            Se o comprador identificar a avaria após a abertura da caixa, é necessário que haja uma negociação entre as partes para viabilizar a troca. O segundo envio nesse caso, deve ser feito no modo convencional, sem utilizar a PLP.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyOne" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Limite de dimensões e peso para envio via Correios
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Para o envio de suas mercadorias, é preciso se atentar às dimensões mínimas e máximas aceitas pelos Correios. São elas: <br>
                            •	Altura mínima: 2cm <br>
                            •	Altura máxima: 105cm <br>
                            •	Largura mínima: 11cm <br>
                            •	Largura máxima: 105cm <br>
                            •	Comprimento mínimo: 16cm <br>
                            •	Comprimento máximo: 105cm <br>
                            A soma das dimensões (Altura + Largura + Comprimento) deve ter no máximo 200cm. <br>
                            Os pesos máximos aceito pelos Correios são: <br>
                            Sedex : 30 kg <br>
                            PAC: 30 kg – remessa individual em âmbito nacional. <br>
                            PAC: 50kg – remessa individual em âmbito estadual, entre localidades previstas em contrato. <br>
                            É preciso adequar as medidas da embalagem de seu produto para que a soma das dimensões não ultrapasse 200 cm assim como o peso o máximo permitido. Caso ocorra, o frete deverá ser calculado manualmente pelo vendedor e o envio não ocorrerá via Correios.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyTwo" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Quando terei acesso aos dados do comprador para finalizar a venda?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Após receber o pagamento, será disponibilizado na página do pedido o nome, e-mail e endereço do comprador. Da mesma forma, seus dados serão disponibilizados para o comprador para que a negociação seja concluída com sucesso.
                            Lembramos que toda a negociação deve ser finalizada pelo Estili.se. Tais dados são informados para que tanto o comprador quanto o vendedor tenham acesso aos dados de com quem está negociando.
                            Mas para que acerte os detalhes do envio e confecção do produto, receba ou envie anexos que sejam necessários para a confecção, entre outros, você deverá utilizar o campo de mensagens do pedido.
                            Portanto todos os dados referente ao pagamento, personalizações e envio do produto devem estar registrados na página do pedido no Estili.se.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyThree" data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Como poderei falar com o comprador sobre a personalização?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordionExample">
                        <div class="card-body">
                            O Estili.se oferece um sistema de mensagens para comunicação entre comprador e vendedor que permite a troca dessas informações, pois ele é realizado entre os e-mails do comprador e vendedor, intermediado pelo Estili.se. Através desse sistema também é possível o envio de arquivos anexos.
                            Você poderá continuar enviando e recebendo arquivos com amostras, provas, imagens com o objetivo de personalização, negociação e aprovação de pedidos.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyFour" data-toggle="collapse" data-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Recebi uma avaliação negativa, quero apagá-la posso?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#accordionExample">
                        <div class="card-body">
                            Não. Somente o comprador poderá apagar a avaliação.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyFive" data-toggle="collapse" data-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                O pedido já foi entregue mas meu cliente não me avaliou. O que devo fazer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyFive" class="collapse" aria-labelledby="headingTwentyFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Caso já tenha finalizado a negociação e ainda não tiver recebido a avaliação, você pode contatar o seu comprador informando a ele que a avaliação é importante para você, pois é através das avaliações que você recebe, que novos compradores medirão o desempenho de suas vendas e qualidade de seus produtos e atendimento.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentySix data-toggle="collapse" data-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix"
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button">
                                Atrasei a entrega de um pedido. O que devo fazer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#accordionExample">
                        <div class="card-body">
                            Em primeiro lugar, mantenha sempre o comprador informado. Toda compra feita pela internet gera ansiedade, por isso esse é um dos fatores mais importantes. Imprevistos acontecem, mas é necessário informar isso, tranquilizando seu cliente.
                            Verifique com o comprador se ainda há interesse no produto, caso chegue fora do prazo estabelecido. Muitas vezes, a compra está sendo feita para uma data definida, uma ocasião especial ou para presentear alguém.
                            Caso o comprador não queira mais o produto, providencie o estorno do valor, evitando problemas.
                        </div>
                    </div>
            </div>
        </section>
    </main>
</body>