footer {   
    width: 100%;
    background: rgb(0,232,211);
    background: linear-gradient(90deg, rgba(0,232,211,1) 0%, rgba(45,241,223,1) 47%, rgba(143,246,236,1) 100%);
}

#logoLinksIcon
{
    margin: 0 auto;
}
.img
{
    image-resolution: 500px;
}
#font {
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 42px;
text-align: center;
letter-spacing: 0.1em;  
  
    color:#158591;
   
     margin: 2%;   
    
    font-family: 'Roboto', sans-serif;
}



#footer2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;         
    background: #158591;
    color: white; 

}


/* Links da segunda barra do Footer */
#sublinks {
    
    
    margin-right: 2%;
    color: white;
    
}

/* Apenas o Copyright */
#copyright {
     font-size: small;    
     font-size: 12px;  
          
}



/* Logo cresce */
/* .grow:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    color: white;
} */

/* Efeito Hover Icones */
.fa-3x:hover
{
    color: white !important; 
    
}

h5 > a {
    color: white;
}

h6 > a {
    color: white;
}

h6 > a:hover {
    color: white;
}

/* Mudar a posição da coluna quando diminuir a página */
@media(max-width:776px)
{

#fontAll
{
flex-direction: column;

}

/* Imagens social */
img
{
    width: 80%;
}

.invisivel
{
display: none;
visibility: hidden;

}

#colunaLink
{
    align-items: center;
    flex-direction: column; 
    
}

#sublinks
{
    margin-bottom: 5px;
}

.visivel
{
display: flex !important;
visibility: visible !important ;

}

#copyright
{
    margin-top: 20px;
    
}


}
/* ================================================================================================ */
/* CSS GERAL DO SITE  */
.font-cookie {
    font-family: 'Cookie', 'Sans Serif';
  }
  .font-roboto {
    font-family: 'Roboto', 'Sans Serfi';
  }
  .verde-logo {
    color: #118899;
  }

/* css da barra de scroll */

::-webkit-scrollbar-track {
    background-color: rgb(224, 255, 251);
    border: 1px rgb(50, 167, 155);
}
::-webkit-scrollbar {
    width: 8px;
    background: #8DF6EC;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #158591;
    scrollbar-base-color:  rgb(224, 255, 251);
    scrollbar-base-color:  rgb(224, 255, 251);
    scrollbar-3dlight-color: #158591;
    scrollbar-highlight-color: #158591;
    scrollbar-track-color: #158591;
    scrollbar-arrow-color: #158591;
    scrollbar-shadow-color: #158591;
}