<footer>
    <div class="container-fluid">
        <div class="row py-3">

            <div id="logoLinksIcon" class="col-md-6">
                <!-- LOGO -->
                <div class="row justify-content-center mb-3"><img src="./assets/img/logo.svg" alt=""></div>

                <!-- LINHA ABAIXO DO LOGO -->
                <hr class="mt-2 mb-6">
            </div>

        </div>

        <!-- LINKS 1 -->
        <div id="fontAll" class=" container align-items-center d-flex justify-content-center mt-4 mb-4">


            <a id="font" routerLink="/quemsomos">
                CONHEÇA </a>

            <a id="font" routerLink="/login">
                LOGIN</a>

            <a id="font" routerLink="/cadastro">
                CADASTRO</a>

            <a id="font" routerLink="/profissionais">
                PROFISSIONAIS</a>

            <a id="font" routerLink="/categoria">
                CATEGORIA</a>


        </div>

        <!-- REDES SOCIAIS -->
        <div class="mb-3 d-flex justify-content-center" id="sociAll">

            <div class="justify-content-center p-0 m-3 mb-5" id="socialItem">

                <a href="">
                    <img src="./assets/img/twitter_verde.png" alt="">
                </a>

            </div>

            <div class="justify-content-center p-0 m-3 mb-5" id="socialItem">

                <a href="">
                    <img src="./assets/img/facebook_verde.png" alt="">
                </a>

            </div>

            <div class="justify-content-center p-0 m-3 mb-5" id="socialItem">

                <a href="">
                    <img src="./assets/img/github_verde.png" alt="">
                </a>

            </div>

            <div class="justify-content-center p-0 m-3 mb-5" id="socialItem">
                <a href="">
                    <img src="./assets/img/Instagram_verde.png" alt="">
                </a>
            </div>

            <!-- <div class="row justify-content-center p-0 mb-3" id="social">   
                            <div class="col-6">
                                <a href="">
                                    <img src="./assets/img/youtube.png" alt="">
                                </a> 
                            </div>
                        </div> -->

            <!-- <div class="row justify-content-center p-0 mb-3" id="social">
                            <div class="col-6">
                                <a href="">
                                    <img src="./assets/img/linkedin.png" alt="">
                                </a> 
                            </div>
                        </div> -->
        </div>

        <!-- FOOTER 2 COM COPYRIGHT -->
    </div>

    <section class="row" id="footer2">


        <div class=" invisivel col-md-2 d-flex py-2 justify-content-start ">
            <h6 id="copyright" class="m-0">&copy; 2020 - ESTILI-SE </h6>

        </div>

        <div id="colunaLink" class="col-md-8 justify-content-center d-flex py-1">
             <a id="sublinks" routerLink="/politica">POLITICA DE PRIVACIDADE</a>
             <a id="sublinks" routerLink="/faq">PERGUNTAS FREQUENTES</a>
             <a id="sublinks" routerLink="/contato">CONTATO</a>
             <h6 id="copyright" class="visivel d-flex" style="visibility: hidden; display: none ;">&copy; 2020 - ESTILI-SE </h6>
        </div>    

        <div  class="invisivel col-md-2">

        </div>

    </section>

</footer>