<footer>
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4">


            </div>
            <div class="col-md-4">
                <!-- LOGO -->
                <div class="row justify-content-center mb-3"><img src="./assets/img/logo.svg" alt=""></div>
                <!-- LINHA ABAIXO DO LOGO -->
                <hr class="mt-2 mb-6">

                <!-- LINKS 1 -->
                <div class="FooterLink d-flex justify-content-around mt-4 mb-4">

                    <a id="font" class="d-flex justify-content-around" routerLink="/quemsomos">
                        CONHEÇA <span class="sr-only">(current)</span></a>

                    <a id="font" class="d-flex justify-justify-content-around" routerLink="/login">
                        LOGIN<span class="sr-only">(current)</span></a>

                    <a id="font" class="d-flex justify-justify-content-around" routerLink="/cadastro">
                        CADASTRO<span class="sr-only">(current)</span></a>

                    <a id="font" class="d-flex justify-justify-content-around" routerLink="/profissionais">
                        PROFISSIONAIS<span class="sr-only">(current)</span></a>

                    <a id="font" class="d-flex justify-justify-content-around" routerLink="/categoria">
                        CATEGORIA<span class="sr-only">(current)</span></a>

                </div>

                <!-- REDES SOCIAIS -->
                <div class="mb-3 d-flex justify-content-around" id="sociAll">

                    <div class="row justify-content-center p-0 mb-3" id="socialItem">
                        <div class="col-3">
                            <a href="">
                                <img src="./assets/img/twitter_verde.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center p-0 mb-3" id="socialItem">
                        <div class="col-3">
                            <a href="">
                                <img src="./assets/img/facebook_verde.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center p-0 mb-3" id="socialItem">
                        <div class="col-3">
                            <a href="">
                                <img src="./assets/img/github_verde.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center p-0 mb-3" id="socialItem">
                        <div class="col-3">
                            <a href="">
                                <img src="./assets/img/Instagram_verde.png" alt="">
                            </a>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-center p-0 mb-3" id="social">   
                        <div class="col-6">
                            <a href="">
                                <img src="./assets/img/youtube.png" alt="">
                            </a> 
                        </div>
                    </div> -->

                    <!-- <div class="row justify-content-center p-0 mb-3" id="social">
                        <div class="col-6">
                            <a href="">
                                <img src="./assets/img/linkedin.png" alt="">
                            </a> 
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- FOOTER 2 COM COPYRIGHT -->
<footer id="footer2" class="d-flex  ">

    <h6 id="copyright">&copy; 2020 - ESTILI-SE </h6>
    <!-- class="my-auto" -->

    <!-- LINKS DO FOOTER 2 -->
    <div class="d-flex justify-content-around" id="barfooter2">

        <h6><a routerLink="/politica">POLITICA DE PRIVACIDADE</a></h6>
        <h6><a routerLink="/faq">PERGUNTAS FREQUENTES</a></h6>
        <h6><a routerLink="/contato">CONTATO</a></h6>

    </div>

</footer>