* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(0,232,211);
    background: linear-gradient(90deg, rgba(0,232,211,1) 0%, rgba(45,241,223,1) 47%, rgba(143,246,236,1) 100%);
    height: 10vh;
    position: sticky;
    top:0;
    z-index: 16;
}

.navbar-brand {
    height: 70%;
    width: auto;
}
.navbar-brand > img {
    height: 100%;
    width: 100%;
}
.nav-item {
    
}
.nav-item > .btn-light {
    background-color: white;
    color: #6ff4e7;
    padding: 5px;
    width: 100px;
}

.nav-item > .btn-outline-light {
    padding: 5px;
    width: 100px;
    color: white;
    border: 2px white solid;
}

.nav-item > .btn-outline-light:hover {
    background-color: #168591;
    border: #168591;
    color: white;
}

.nav-item > .btn-light:hover{
    color: white;
    background-color: #168591;
    border: #168591;
}

.nav-link {
    color: white;
    width: 100%;
}

.nav-link:hover{
    color: #168591;
}

@media (max-width: 992px) {
    .navbar-nav {
        background: linear-gradient(90deg, rgba(0,232,211,1) 0%, rgba(45,241,223,1) 47%, rgba(143,246,236,1) 100%);
        height: 100vh;
    }
}