<div class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input class="form-control" [(ngModel)]="usuario.nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input class="form-control" [(ngModel)]="usuario.emailusuario">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Senha</label>
        <input class="form-control" [(ngModel)]="usuario.senha">
    </div>
    <button type="button" class="btn btn-primary" routerLink="/users">Voltar</button>
    <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
</div>
