<main class="container">
    <h1 class="text-center my-5" style="font-family: Roboto Thin;">Categorias</h1>
    <section class="row my-5">
        <a routerLink="#" class="text-decoration-none">
            <div id="categoria-card" class="col-3 d-flex flex-column align-items-center justify-content-center mx-3">
                <img class="" src="../../assets/img/categorias/vestidos_gala.png" alt="">
                <h1 class="position-absolute text-center">Vestidos de gala</h1>
            </div>
        </a>
    </section>
</main>

