<div class="card container mt-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{usuario.nome}}</h5>
      <p class="card-text">{{usuario.emailusuario}}</p>
    </div>
</div>
<div class="container mt-5">
  <h2 class="text-center">Tem certeza que deseja apagar?</h2>
  <div class="d-flex justify-content-center m-4">
    <button class="btn btn-outline-danger mr-3" routerLink="/users">Não</button>
    <button class="btn btn-success ml-3" (click)="btnSim()">Sim</button>
  </div>
</div>
